@font-face {
	font-family: 'NanumSquareRound';
	src: url('/Resources/Fonts/nanumsquareround-regular.eot');
	src: url('/Resources/Fonts/nanumsquareround-regular.eot?#iefix') format('embedded-opentype')
		, url('/Resources/Fonts/nanumsquareround-regular.woff2') format('woff2')
		, url('/Resources/Fonts/nanumsquareround-regular.woff') format('woff')
		, url('/Resources/Fonts/nanumsquareround-regular.svg#NanumSquareRound') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'NanumSquareRoundBold';
	src: url('/Resources/Fonts/nanumsquareround-bold.eot');
	src: url('/Resources/Fonts/nanumsquareround-bold.eot?#iefix') format('embedded-opentype')
		, url('/Resources/Fonts/nanumsquareround-bold.woff2') format('woff2')
		, url('/Resources/Fonts/nanumsquareround-bold.woff') format('woff')
		, url('/Resources/Fonts/nanumsquareround-bold.svg#NanumSquareRound') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'NanumSquareRoundExtraBold';
	src: url('/Resources/Fonts/nanumsquareround-extrabold.eot');
	src: url('/Resources/Fonts/nanumsquareround-extrabold.eot?#iefix') format('embedded-opentype')
		, url('/Resources/Fonts/nanumsquareround-extrabold.woff2') format('woff2')
		, url('/Resources/Fonts/nanumsquareround-extrabold.woff') format('woff')
		, url('/Resources/Fonts/nanumsquareround-extrabold.svg#NanumSquareRound') format('svg');
	font-weight: 900;
	font-style: normal;
}
