## == == == == == == == == == == == == == == == == == == == == == == == ==
## eroumcare( 이로움 1.0 ) / gitignore 파일 사용방법
## == == == == == == == == == == == == == == == == == == == == == == == ==
## 보안상으로 위험성이 있는 파일
## 프로젝트와 관계없는 파일
## 용량이 너무 커서 제외해야되는 파일


.DS_Store
.idea/*
.history/*


## 서원 : 22.10.19 - 운영용 파일에 대한 git파일 등록 제한 및 기존 gitignore 정리

## 프로젝트와 관계없는 운영용 파일 업로드 전용 폴더
www/data/*

## 현재 기준 첫 페이지 렌딩 이미지 업로드 차단
www/thema/eroumcare/assets/img/*

