@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
body{
	font-family: "Nanum Gothic", sans-serif;
}
h1, h2, h3, h4, h5, p, button{
	font-family: "Nanum Gothic", sans-serif !important;
}
.content01{padding:70px 0 50px 0;text-align: center;}
.content01 h2{color:#333333;font-size: 29px;font-weight: bold;line-height: 50px;}
.content01 h3{color:#FFF;font-size: 29px;font-weight: bold;line-height: 40px;background-color: #555;display: inline;padding:5px 15px;}

.bg-01{background-color: #f4f3f1;padding:25px;box-sizing: border-box;}
.bg-01 .row .col-md-4{display: flex;}
.bg-01 .row .col-md-4 .img{display: inline-block;}
.bg-01 .row .col-md-4 .txt{display: inline-block;padding-left: 20px;}
.bg-01 .row .col-md-4 .txt h4{font-size: 12px;color:#666666;font-weight: bold;padding-top:20px;line-height: 14px;padding-bottom: 11px;}
.bg-01 .row .col-md-4 .txt p{font-size: 16px;color:#333;font-weight: bold;padding-top:0px;}
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-left > .nav-tabs > li {
  float: none;
  height: calc(463px / 12 + 1px);
}
.tabs-left > .nav-tabs > li:last-child{
	border-bottom: 1px solid #ddd;
}


.tabs-left > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
  padding:8px 15px ;
  cursor:pointer;
}
.tabs-left > .nav-tabs > li > a:hover{
  cursor:pointer !important;
}
.tabs-left > .nav-tabs > li.active a {
  cursor:pointer !important;
  color:#333;
}

.tabs-left > .nav-tabs > li > a.active{
	padding:8px 15px ;
  cursor:pointer !important;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}




.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  border-right-color: #ffffff;
}
.top-menu{
	background-color: #555555;
	margin-right: 0 !important;
	width:200px;
}
.top-menu > li > a{
	border-radius: 0 !important;
	color:#FFF;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 0.8px !important;
	font-family: "Nanum Gothic", sans-serif;
}
.top-menu>li.active>a{
	border:0 !important;
	height: 42px;
}
.top-menu > li > a:hover{
	background-color:#FFF;
	color:#333;
	border-color:#FFF !important;
}
.top-menu-sub .tab-pane .left-menu{
	width:200px;
	padding:20px;
	box-sizing: border-box;
	float:left;
}
.top-menu-sub .tab-pane .left-menu h3{
	margin:0;
	font-weight: bold;
	font-size: 20px;
	font-family: "Nanum Gothic", sans-serif;
}
.top-menu-sub .tab-pane .left-menu ul{
	padding-top:15px;
}
.top-menu-sub .tab-pane .left-menu ul li{
	font-size: 14px;
	margin-bottom: 10px;
	color:#666 !important;
	font-weight: bold;
}
.top-menu-sub .tab-pane .right-content{
	padding:20px 20px 0;
	display: inline-block;
	float:right;
	width:calc(100% - 400px);
}
.top-menu-sub .tab-pane .right-content .product-menu{
	width:320px;
	float:left;
}
.top-menu-sub .tab-pane .right-content .product-menu ul{
	
}
.top-menu-sub .tab-pane .right-content .product-menu ul li{
	float:left;
	margin-right: 20px;
	margin-bottom: 16px;
	cursor:pointer;
}
.top-menu-sub .tab-pane .right-content .product-menu ul li  img{
	border:1px solid #ddd;
	width:140px;
}
.top-menu-sub .tab-pane .right-content .product-menu ul li  p{
	margin:0;
	color:#999;
	font-size: 12px;
	line-height: 16px;
}
.top-menu-sub .tab-pane .right-content .product-menu ul li  p:nth-child(2){
	margin-top:10px;
	color:#333;
	font-size:14px;
	font-weight:bold;
}
.top-menu-sub .tab-pane .right-content .product-menu ul li  .price{
	padding-top:3px;
}
.top-menu-sub .tab-pane .right-content .right-image{
	float:right;
}
.top-menu-sub .tab-pane .right-content .right-image .img-content{
	position: relative;
}
.top-menu-sub .tab-pane .right-content .right-image .img-content .main_img{
	width:390px;
}
.top-menu-sub .tab-pane .right-content .right-image .img-content p{
	position: absolute;
	left:25px;
	top:170px;
}
.top-menu-sub .tab-pane .right-content .right-image .img-content p a{
	color:#FFF;
	font-size: 20px;
	font-weight: bold;
}
.top-menu-sub .tab-pane .right-content .right-image .img-content p a span{
	display: block;
	padding-top:10px;
}
/** best **/
.best{
	padding:60px 0 30px 0;
	box-sizing: border-box;
}
.best-pick{
	position: relative;
	
}
.best-pick .title{
	text-align: center;
}
.best-pick .title h2{
	font-size: 40px;
	font-weight: bolder;
	line-height: 40px;
}
.best-pick .nav{
	position: absolute;
	right:0;
	top:0px;
	border-bottom: 0 !important;
}

.best-pick .nav li a{
	padding: 5px 10px;
}
.custom-tab{
	border:0;
}
.custom-tab>li{
	margin:0 2px;
}
.custom-tab>li>a{
	border:1px solid #ddd !important;
	font-weight: bold;
	border-radius: 0 !important;
	color:#a2a2a2;
}

.custom-tab>li.active>a{
	color: #333 !important;
    cursor: default;
    background-color: #fff !important;
    border:2px solid #333 !important;
    border-radius: 0 !important;
    font-weight: bold;
    padding: 4px 10px;
}
.p30{
	padding:30px 0;
}
.pt30{
	padding-top:30px;
}
.item_one{
	margin-right: 0.25%;
	width: calc(100% / 6 - 6px);
	display: inline-block;
	vertical-align: bottom;
}
.item_one .img_area{
	border:1px solid #e2e2e2;
	box-sizing: border-box;
}
.item_one .img_area img{
	width:100%;
	margin:0 auto;
	height: auto;
}
.item_one .desc{
	min-height: 130px;
	text-align: center;
	padding:10px 0;
	font-size:11px;
}
.item_one .desc p{
	margin-bottom: 0px;
	line-height: 16px;
	color:#999999;
}
.item_one .desc .pay{
	color:#333333;
	font-size: 16px;
	font-weight:bold;
}

.new_product_01{
	
}
.new_product_01 .title h2{
	color:#333;
	border-bottom: 1px solid #dedede;
	font-size: 40px;
	font-weight: bolder;
	text-align: center;
	padding-bottom: 25px;
}
.new_product_01 .content{
	float:left;
}
.new_product_01 .content .product{
	float:left;
	width:400px;
	margin:35px 0;
	padding:0 40px;
	box-sizing: border-box;
}
.new_product_01 .content .product:first-child{
	border-right: 1px solid #ddd;
}
.new_product_01 .content .product p a{
	display: inline-block;
	margin-left:10px;
	font-size:12px;
	padding:3px 5px;
	border:1px solid #ddd;
	text-align: center;
}
.new_product_01 .content .product a img{
	max-width: 100%;
	margin-bottom: 30px;
	/* min-height: 380px; */
}
.new_product_01 .content .product p{
	text-align: center;
	color:#333333;
	font-size: 18px;
	font-weight: bold;
}
.new_product_01 .rcbox{
	float:left;
	margin-top:35px;
	width:320px;
}
.new_product_01 .rcbox .rcbox_tit{
	width:100%;
	text-align:center;
	font-size:18px;
	color:#333;
	margin-top:30px;
	display:inline-block;
	font-weight:bold;	
}
.new_product_01 .rcbox .rcbox_tit a{
	display: inline-block;
	margin-left:10px;
	font-size:12px;
	padding:3px 5px;
	border:1px solid #ddd;
	text-align: center;
}
.new_product_01 .rcbox .box01{
	position: relative;
}
.new_product_01 .rcbox .box01 .left{
	border:1px solid #ddd;
	float:left;
	width:160px;
	height: 160px;
	text-align: center;
}
.new_product_01 .rcbox .box01 .left img{
	display: block;
	margin: 0px auto;
	margin-top:10px;
}
.new_product_01 .rcbox .box01 .right{
	float:left;
	width:160px;
	height: 160px;
	padding:60px 0 0 20px;
	background: url('../img/nn-right.png') no-repeat;
	background-position: 0 80px;
}
.new_product_01 .rcbox .box01 .right a p:first-child{
	font-size:16px;
	font-weight:bold;
}

.new_product_01 .rcbox .box01 .right a{
	font-size:14px;
	font-weight:bold;
	color:#999;
}
.new_product_01 .rcbox  a span{
	font-size:16px;
}
.new_product_01 .rcbox  a b{
	font-size:16px;
	color:#333;
}
.new_product_01 .rcbox .box02 .left a{
	font-size:14px;
	font-weight:bold;
	color:#999;
	text-align:right;
}

.new_product_01 .rcbox .box02{
	position: relative;
	top:-1px;
	left:-1px;
}
.new_product_01 .rcbox .box02 .left{
	padding:60px 20px 0 0;
	float:left;
	width:160px;
	height: 160px;
	text-align:right;
	background: url('../img/nn-left.png') no-repeat;
	background-position: 153px 80px;
}
.new_product_01 .rcbox .box02 .left a p{
	text-align: right;
}
.new_product_01 .rcbox .box02 .left a p:first-child{
	font-size:16px;
	font-weight:bold;
}
.new_product_01 .rcbox .box02 .right{
	float:left;
	width:160px;
	height: 160px;
	border:1px solid #ddd;
}
.new_product_01 .rcbox .box02 .right img{
	display: block;
	margin:  0px auto;
	margin-top:10px;
}
.new_product_01 .rcbox .box03{
	position: relative;
	left:0px;
	top:-2px;
}
.new_product_01 .rcbox .box03 .left{
	border:1px solid #ddd;
	float:left;
	width:160px;
	height: 160px;
	text-align: center;
	
}
.new_product_01 .rcbox .box03 .left img{
	display: block;
	margin: 0px auto;
	margin-top:10px;
}
.new_product_01 .rcbox .box03 .right{
	float:left;
	width:160px;
	height: 160px;
	padding:65px 0 0 35px;
	background: url('../img/nn-right.png') no-repeat;
	background-position: 0 84px;
}
.linkd a p{
	color:#999999;
	font-size: 12px;
	font-weight: bold;
	line-height: 16px;
}
.linkd a p:last-child{
	padding-top:5px;
	color:#333333;
	font-size: 16px;
}
.mobile-fixed{
	display: none;
}
.sub-page{
    position: relative;
    top:-7px;
}
.sub-page .sub-left-menu{
    float:left;
    width:200px;
    margin-right: 30px;
    display:none; 
}
.sub-page .sub-content{
    float:right;
    width:100%;
    margin: 30px 0;
}
.menu-content{border:1px solid #ddd;}
.menu-content ul{list-style: none;margin-bottom:0;}
.menu-content ul> li{background-color:#555;}
.menu-content ul> li a{color:#FFF;font-size:14px;font-weight: bold;padding:10px 15px;box-sizing:border-box;display: inline-block;width: 100%;}
.menu-content ul .open{background-color:#fff;}
.menu-content ul .open a{color:#333;font-size:14px;font-weight: bold;}
.menu-content ul .open ul{display: block;padding:0 0 10px 30px;}
.menu-content ul .open ul li{background-color:#fff;}
.menu-content ul .open ul li a{color:#333;font-size:12px;font-weight: bold;color:#666;padding:3px;}
.menu-content ul> li a{}
.menu-content ul> li> ul{display: none;}

.menu-content.fixed{position: fixed;top:91px;width:200px;z-index: 9;}

.item_list_wrap{}
.item_list_wrap ul{}
.item_list_wrap ul li{float:left;width:23%;margin:0 1%;}
.item_list_wrap ul li a{}
.item_list_wrap ul li .img_area{border:1px solid #d2d2d2;box-sizing: border-box;}
.item_list_wrap ul li .img_area img{width:100%;}
.item_list_wrap ul li .desc{min-height: 150px;padding-top:10px;}
.item_list_wrap ul li .desc p{color:#333333;font-size: 14px;font-weight: bold;}
.item_list_wrap ul li .desc .item_tit{font-size:20px;color:#0e5ea8;font-weight: normal;line-height: 27px;}
.item_list_wrap ul li .desc .item_tit:before{content: "모델명 : ";font-size:14px;color:#333333;}
.item_list_wrap ul li .desc .pay b{color:#333333;font-size: 18px;font-weight: bold;display:inline-block;padding-bottom:15px;padding-top:10px;}
.item_list_wrap ul li .desc .item_tag{display: inline-block;margin-right: 3px;font-size:11px;padding: 0px 5px;}

#category {display:none;top:40px;position:absolute;border:1px solid #ddd;width:1160px;background:#fff;z-index:1000;}
#category h2 {font-size:1.3em;padding:15px 20px;border-bottom:1px solid #e7eeef}
#category ul:after {display:block;visibility:hidden;clear:both;content:""}
#category ul li:nth-child(5n+1) {border-left:0}
#category .cate_li_1 {float:left;width:20%;min-height:220px;padding:10px;}
#category .cate_li_1:nth-child(n+6){min-height:150px;}
#category .cate_li_1_a {font-size:1.2em;display:block;position:relative;margin-bottom:10px;font-weight:bold;color:#333}
#category .cate_li_2 {line-height:20px;}
#category .cate_li_2 a {color:#555}
#category .close_btn {display:none;position:absolute;top:0;right:0;width:50px;height:50px;background:#fff;color:#b6b9bb;border:0;vertical-align:top;font-size:18px}
#category_all_bg {display:none;background:rgba(0,0,0,0.1);width:100%;height:100%;position:fixed;left:0;top:0;z-index:999}
#category .no-cate{text-align:center;padding:15px}

#category.fixed{position: fixed; top: 91px;}


#sort-wrapper{display: inline-block;float: right;}
#sort-wrapper .dropdown-menu{right:0;}


.top_menu_all{padding: 0;
    line-height: 30px;
    font-size: 13px;
font-weight:bold;cursor: pointer;}

.multi-selectbtn{
    margin-bottom:15px;
    color:#c0c0c0;
    font-weight:bold;
    padding-left:7px;
}
.multi-selectbtn select{
    border:1px solid #e1e1e1;
    padding:6px 10px;
    color:#666666;
    font-weight:bold;
    font-size:12px;
    min-width:110px;
}
.multi-selectbtn span{
    display:inline-block;
    margin:0 6px;
    color:#c0c0c0;
    font-size:14px;
    font-weight:bold;
}
.multi-selectbtn button{
    background-color:#000;
    border:0;
    color:#FFF;
    padding:8px;
    vertical-align:top;
}

.multi-selectbtn .hidden-option {
    display: none;
}
.remove-add{margin:0 auto -7px !important;}
@media screen and (max-width:960px) {
	
	#sort-wrapper{width:100%;border: 1px solid #ddd;margin:10px 0;}
	#sort-wrapper .dropdown-menu{width:100%;}
	.multi-selectbtn{display:none;}
	
	.main_manu_wrap{display: none;}
	.content01{padding:25px 0 50px 0;text-align: center;}
	.content01 h2{color:#333333;font-size: 17px;font-weight: bold;line-height: 19px;}
	.content01 h3{color:#FFF;font-size: 17px;font-weight: bold;line-height: 40px;background-color: #555;display: inline;padding:5px 15px;}
	
	.bg-01{background-color: #f4f3f1;padding:25px;box-sizing: border-box;}
	.bg-01 .row .col-md-4{display: flex;margin:25px 0;}
	.bg-01 .row .col-md-4 .img{display: inline-block;width:110px;}
	.bg-01 .row .col-md-4 .img img{width:100%;}
	.bg-01 .row .col-md-4 .txt{display: inline-block;padding-left: 20px;}
	.bg-01 .row .col-md-4 .txt h4{font-size: 12px;color:#666666;font-weight: bold;padding-top:16px;line-height: 14px;}
	.bg-01 .row .col-md-4 .txt p{font-size: 16px;color:#333;font-weight: bold;padding-top:5px;}
	.tabs-left > .nav-tabs {
	  border-bottom: 0;
	}
	
	.tab-content > .tab-pane,
	.pill-content > .pill-pane {
	  display: none;
	}
	
	.tab-content > .active,
	.pill-content > .active {
	  display: block;
	}
	
	.tabs-left > .nav-tabs > li {
	  float: none;
	}
	
	.tabs-left > .nav-tabs > li > a {
	  min-width: 74px;
	  margin-right: 0;
	  margin-bottom: 3px;
	}
	
	.tabs-left > .nav-tabs {
	  float: left;
	  margin-right: 19px;
	  border-right: 1px solid #ddd;
	}
	
	.tabs-left > .nav-tabs > li > a {
	  margin-right: -1px;
	  -webkit-border-radius: 4px 0 0 4px;
	     -moz-border-radius: 4px 0 0 4px;
	          border-radius: 4px 0 0 4px;
	}
	
	
	
	.tabs-left > .nav-tabs .active > a,
	.tabs-left > .nav-tabs .active > a:hover,
	.tabs-left > .nav-tabs .active > a:focus {
	  border-color: #ddd transparent #ddd #ddd;
	  *border-right-color: #ffffff;
	}
	.top-menu{
		background-color: #555555;
		margin-right: 0 !important;
		width:200px;
	}
	.top-menu > li > a{
		border-radius: 0 !important;
		color:#FFF;
		font-size: 14px;
		font-weight: bold;
		margin-bottom: 0.8px !important;
	}
	.top-menu>li.active>a{
		border:0 !important;
		height: 42px;
	}
	.top-menu > li > a:hover{
		background-color:#FFF;
		color:#333;
		border-color:#FFF !important;
	}
	.top-menu-sub .tab-pane .left-menu{
		width:255px;
		padding:20px;
		box-sizing: border-box;
		float:left;
	}
	.top-menu-sub .tab-pane .left-menu h3{
		margin:0;
		font-weight: bold;
		font-size: 20px;
	}
	.top-menu-sub .tab-pane .left-menu ul{
		padding-top:15px;
	}
	.top-menu-sub .tab-pane .left-menu ul li{
		font-size: 14px;
		margin-bottom: 10px;
		color:#666 !important;
		font-weight: bold;
	}
	.top-menu-sub .tab-pane .right-content{
		padding:20px;
	}
	.top-menu-sub .tab-pane .right-content .product-menu{
		width:320px;
		float:left;
	}
	.top-menu-sub .tab-pane .right-content .product-menu ul{
		
	}
	.top-menu-sub .tab-pane .right-content .product-menu ul li{
		float:left;
		margin-right: 20px;
		margin-bottom: 15px;
	}
	.top-menu-sub .tab-pane .right-content .product-menu ul li a{
		color:#999;
		font-size: 12px;
		font-weight: bold;
	}
	.top-menu-sub .tab-pane .right-content .product-menu ul li a p{
		margin:0;
		line-height: 16px;
	}
	.top-menu-sub .tab-pane .right-content .product-menu ul li a .price{
		color:#333;
		font-size: 16px;
		padding-top:3px;
	}
	.top-menu-sub .tab-pane .right-content .right-image{
		float:left;
	}
	.top-menu-sub .tab-pane .right-content .right-image .img-content{
		position: relative;
	}
	.top-menu-sub .tab-pane .right-content .right-image .img-content img{
		width:400px;
	}
	.top-menu-sub .tab-pane .right-content .right-image .img-content p{
		position: absolute;
		left:25px;
		top:205px;
	}
	.top-menu-sub .tab-pane .right-content .right-image .img-content p a{
		color:#FFF;
		font-size: 20px;
		font-weight: bold;
	}
	.top-menu-sub .tab-pane .right-content .right-image .img-content p a span{
		display: block;
		padding-top:20px;
	}
	/** best **/
	.best{
		padding:60px 0 30px 0;
		box-sizing: border-box;
	}
	.best-pick{
		position: relative;
		padding-left:15px;
		padding-right:15px;
	}
	.best-pick .title{
		text-align: center;
	}
	.best-pick .title h2{
		font-size: 26px;
		font-weight: bolder;
		line-height: 40px;
	}
	.best-pick .nav{
		position: relative;
		right:0;
		top:0px;
		border-bottom: 0 !important;
	}
	.custom-tab{
		border:0;
	}
	.custom-tab>li{
		margin:0 0px;
	}
	.custom-tab>li>a{
		border:2px solid #dcdcdc !important;
		font-weight: bold;
		border-radius: 0 !important;
		color:#a2a2a2;
		padding:5px 7px !important;
	}
	.custom-tab>li>a:hover{
		background-color:#FFF;
	}
	.custom-tab>li.active>a{
		color: #333 !important;
	    cursor: default;
	    background-color: #fff !important;
	    border:2px solid #333 !important;
	    border-radius: 0 !important;
	    font-weight: bold;
	}
	.p30{
		padding:30px 0;
	}
	.pt30{
		padding-top:30px;
	}
	.m-tab{
		
	}
	.item_one{
		margin-right: 2%;
		width:47%;
		display: inline-block;
		vertical-align: bottom;
	}
	.item_one .img_area{
		border:1px solid #e2e2e2;
		box-sizing: border-box;
	}
	.item_one .img_area img{
		width:100%;
		margin:0 auto;
	}
	.item_one .desc{
		min-height: 80px;
		text-align: center;
		padding:10px 0;
	}
	.item_one .desc p{
		margin-bottom: 0px;
		line-height: 16px;
		color:#999999;
	}
	.item_one .desc .pay{
		color:#333333;
		font-size: 16px;
	}
	.new_product_01{
		float:left;
		padding-left: 15px;
		padding-right: 15px;
	}
	.new_product_01 .title h2{
		color:#333;
		border-bottom: 1px solid #dedede;
		font-size: 26px;
		font-weight: bolder;
		text-align: center;
		padding-bottom: 25px;
	}
	.new_product_01 .content{
		float:left;
	}
	.new_product_01 .content .product{
		width:100%;
		float:left;
		margin:35px 0;
		padding:0 0px;
		box-sizing: border-box;
	}
	.new_product_01 .content .product:first-child{
		border-right: 0px solid #ddd;
	}
	.new_product_01 .content .product a{
		display: block;
		
		text-align: center;
	}
	.new_product_01 .content .product a img{
		max-width: 100%;
		margin-bottom: 30px;
		min-height: 380px;
	}
	.new_product_01 .content .product p{
		text-align: center;
		color:#333333;
		font-size: 18px;
		font-weight: bold;
	}
	.new_product_01 .rcbox{
		float:left;
		margin-top:35px;
		width:100%;
		height: 460px;
	}
	.new_product_01 .rcbox .box01{
		position: relative;
		width:100%;
	}
	.new_product_01 .rcbox .box01 .left{
		border:1px solid #ddd;
		float:left;
		width:50%;
		height: 150px;
		text-align: center;
	}
	.new_product_01 .rcbox .box01 .left img{
		display: block;
		margin: 0px auto;
		margin-top:10px;
	}
	.new_product_01 .rcbox .box01 .right{
		float:left;
		width:50%;
		height: 150px;
		padding:50px 0 0 20px;
		background: url('../img/nn-right.png') no-repeat;
		background-position: 0 70px;
	}
	.new_product_01 .rcbox .box02{
		position: relative;
		top:-1px;
		left:-1px;
	}
	.new_product_01 .rcbox .box02 .left{
		padding:50px 20px 0 10px;
		float:left;
		width:50%;
		height: 150px;
		text-align: left;
		background: url('../img/nn-left.png') no-repeat;
		background-position: 100% 70px;
	}
	.new_product_01 .rcbox .box02 .right{
		float:left;
		width:50%;
		height: 168px;
		border:1px solid #ddd;
	}
	.new_product_01 .rcbox .box02 .right img{
		display: block;
		margin:  0px auto;
		margin-top:25px;
	}
	.new_product_01 .rcbox .box03{
		position: relative;
		left:0px;
		top:-2px;
	}
	.new_product_01 .rcbox .box03 .left{
		border:1px solid #ddd;
		float:left;
		width:50%;
		height: 150px;
		text-align: center;
		
	}
	.new_product_01 .rcbox .box03 .left img{
		display: block;
		margin: 0px auto;
		margin-top:25px;
	}
	.new_product_01 .rcbox .box03 .right{
		float:left;
		width:50%;
		height: 150px;
		padding:50px 0 0 20px;
		background: url('../img/nn-right.png') no-repeat;
		background-position: 0 70px;
	}
	.linkd a p{
		color:#999999;
		font-size: 12px;
		font-weight: bold;
		line-height: 16px;
	}
	.linkd a p:last-child{
		padding-top:5px;
		color:#333333;
		font-size: 16px;
	}
	.mobile-fixed{
		display: block;
		position: fixed;
		padding:5px 0;
		left:0;
		bottom:0;
		width:100%;
		border-top:1px solid #d2d2d2;
		background-color:#FFF;
	}
	.mobile-fixed .content{
		padding-left:15px;
		padding-right: 15px;
	}
	.mobile-fixed .content ul{
		margin-bottom:0;
	}
	.mobile-fixed .content ul li{
		float:left;
		width:25%;
		text-align: center;
		position: relative;
	}
	.mobile-fixed .content ul li .new{
		position: absolute;top:0px;right:10px;border-radius: 100px;background: #ff600a;color:#fff;font-weight:bold;font-size:10px;padding: 0 5px;    width: 20px;text-align: center;
	}
	.mobile-fixed .content ul li a{
		text-align: center;
		color:#666666;
		font-size: 12px;
		font-weight: bold;
	}
    .mo_menu ul>li img{
    	width:30px;
    }
    .sub-page{
        position: relative;
        top:10px;
        padding-left:15px;
        padding-right:15px;
    }
    .sub-page .sub-left-menu{
        float:left;
        width:200px;
        margin-right: 30px;
        display: none;
    }
    .sub-page .sub-content{
        float:right;
        width:100%;
        margin:0 0 30px 0;
    }
    .item_list_wrap{}
    .item_list_wrap ul{}
    .item_list_wrap ul li{float:left;width:48%;margin:0 1%;}
    .item_list_wrap ul li a{}
    .item_list_wrap ul li a .img_area{border:1px solid #d2d2d2;padding:15px 20px;box-sizing: border-box;}
    .item_list_wrap ul li a .img_area img{width:100%;}
    .item_list_wrap ul li a .desc{min-height: 150px;padding-top:10px;}
    .item_list_wrap ul li a .desc p{color:#333333;font-size: 11px;font-weight: bold;}
    .item_list_wrap ul li a .desc .item_tit{font-size:16px;color:#0e5ea8;font-weight: normal;line-height: 27px;}
    .item_list_wrap ul li a .desc .pay b{color:#333333;font-size: 15px;font-weight: bold;display:inline-block;padding-bottom:15px;padding-top:10px;}
    .item_list_wrap ul li a .desc .item_tag{display: inline-block;margin-right: 3px;font-size:11px;}
    #samhwa-m-menu .wrap.active{left:0 !important;}
    #samhwa-m-menu .wrap.active img{width:25px;}
}