.thk001 {
  padding: 0 64px;
}

.thk001 .thk001_h1 {
  margin: 0;
  padding: 16px;
  font-size: 28px;
  text-align: center;
}

.thk001 .thk001_table {
  border-collapse: collapse;
  width: 100%;
  font-size: 18px;
}

.thk001 .thk001_table tr.divider {
  border-top: 4px solid #000000;
}

.thk001 .thk001_table th,
.thk001 .thk001_table td {
  padding: 6px;
  border: 1px solid #000000;
  font-weight: normal;
}

.thk001 .thk001_table th {
  text-align: center;
  font-size: 16px;
}

.thk001 .thk001_table td {
}

.thk001 .thk001_table .bold {
  font-weight: bold;
}

.thk001 .thk001_table .center {
  text-align: center;
}

.thk001 .thk001_table .right {
  text-align: right;
}

.thk001 .thk001_article {
  margin: 24px 0;
  padding: 0 0 0 24px;
  font-size: 16px;
}

.thk001 .thk001_article li {
  line-height: 1.5;
  padding: 6px;
}

.thk001 .thk001_h3 {
  margin: 0;
  padding: 6px 0;
  font-weight: bold;
  font-size: 16px;
}

.thk001 .thk001_table.item_table {
  margin-bottom: 24px;
}

.thk001 .thk001_table.item_table td {
  padding: 4px 6px;
  font-size: 12px;
  height: 16px;
}

.thk001 .thk001_article_div {
  padding: 16px;
  margin: 0;
  border-top: 2px solid #000000;
  border-bottom: 1px solid #000000;
}

.thk001 .thk001_article_div .thk001_article {
  margin: 0;
}

.thk001 .thk001_article_div .thk001_article li {
  padding: 8px 6px;
}

.thk001 .thk001_article.hangul {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: thk001_article;
}

.thk001 .thk001_article.hangul li {
  display: table;
  counter-increment: thk001_article;
}

.thk001 .thk001_article.hangul li:before {
  display: table-cell;
  padding-right: 8px;
  content: counter(thk001_article) '.';
}

.thk001 .thk001_article.hangul li:first-child:before {
  content: '가.';
}

.thk001 .thk001_article.hangul li:first-child + li:before {
  content: '나.';
}

.thk001 .thk001_article.hangul li:first-child + li + li:before {
  content: '다.';
}

.thk001 .thk001_article.asterisk {
  padding: 0;
  list-style: none;
}

.thk001 .thk001_article.asterisk li {
  display: table;
}

.thk001 .thk001_article.asterisk li:before {
  display: table-cell;
  padding: 0 8px 0 16px;
  content: '*';
}

.thk001 .thk001_date_div {
  margin: 0;
  padding: 24px 120px 24px 0;
  text-align: right;
}

.thk001 .thk001_table.sign_table {
  border-bottom: 1px solid #000000;
}

.thk001 .thk001_table.sign_table th,
.thk001 .thk001_table.sign_table td {
  border: none;
}

.checkbox-container {
  display: inline-block;
  position: relative;
  padding-left: 26px;
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #e28529;
}

.checkbox-container input:checked ~ .checkmark {
  border: 1px solid #a0a0a0;
}

.checkbox-container .checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 5px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
