.thk002 {
  padding: 0 64px;
}

.thk002 .thk002_h1 {
  margin: 0;
  padding: 16px;
  font-size: 28px;
  text-align: center;
}

.thk002 .desc {
  font-size: 14px;
  margin: 0;
  padding: 6px;
}

.thk002 .thk002_table {
  border-collapse: collapse;
  width: 100%;
  font-size: 18px;
}

.thk002 .thk002_table th,
.thk002 .thk002_table td {
  border: 1px solid #000000;
  padding: 6px;
  font-weight: normal;
}

.thk002 .thk002_table th {
  border-bottom: none;
  padding-bottom: 0;
  font-size: 14px;
  text-align: left;
}

.thk002 .thk002_table td {
  border-top: none;
}

.thk002 .thk002_table tr > th:first-child,
.thk002 .thk002_table tr > td:first-child {
  border-left: 0;
}

.thk002 .thk002_table tr > th:last-child,
.thk002 .thk002_table tr > td:last-child {
  border-right: 0;
}

.thk002 .item_table {
  margin-top: 6px;
  border-collapse: collapse;
  width: 100%;
  font-size: 16px;
}

.thk002 .item_table .bold {
  font-weight: bold;
}

.thk002 .item_table .center {
  text-align: center;
}

.thk002 .item_table .right {
  text-align: right;
}

.thk002 .item_table th,
.thk002 .item_table td {
  padding: 4px 6px;
  border: 1px solid #000000;
  font-weight: normal;
  vertical-align: middle;
}

.thk002 .item_table th {
  text-align: center;
  font-size: 14px;
}

.thk002 .item_table td {
  padding: 4px 6px;
  font-size: 12px;
  line-height: 12px;
  height: 20px;
}

.thk002 .item_table th.head {
  padding: 8px 6px;
  font-size: 16px;
}

.thk002 .item_table tr > th:first-child,
.thk002 .item_table tr > td:first-child,
.thk002 .sign_table tr > th:first-child,
.thk002 .sign_table tr > td:first-child {
  border-left: 0;
}

.thk002 .item_table tr > th:last-child,
.thk002 .item_table tr > td:last-child,
.thk002 .sign_table tr > th:last-child,
.thk002 .sign_table tr > td:last-child {
  border-right: 0;
}

.thk002 .sign_table {
  border-collapse: collapse;
  width: 100%;
  font-size: 16px;
}

.thk002 .sign_table th,
.thk002 .sign_table td {
  padding: 6px;
  border: 1px solid #000000;
  font-weight: normal;
  vertical-align: middle;
}

.thk002 .notice_div {
  border-top: 1px solid #000000;
  border-bottom: 2px solid #000000;
  font-size: 14px;
  margin: 0;
  padding: 6px;
  text-align: center;
  background-color: #bbbbbb;
}

.thk002 .thk002_article {
  margin: 12px 0;
  padding: 0 0 0 24px;
  font-size: 14px;
}

.thk002 .thk002_article li {
  line-height: 1.25;
  padding: 4px;
}
