html, body { width: 100%; min-width: 100%; height: 100%; min-height: 100%; margin: 0 !important; padding: 0; font-family: "Noto Sans KR", sans-serif; font-size: 13px; }
button { display: inline-block; }

#popupWrap {
  height: 100%;
}

#popupWrap .flex {
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.popupHeadWrap {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:60px;
  padding: 12px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

.popupHeadWrap .title {
  -webkit-flex: 1;          /* Chrome */
  -ms-flex: 1;              /* IE 10 */
  flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  font-size: 20px;
  font-weight: 500;
  padding: 0 6px;
}

.popupHeadWrap .menu {
}

.popupContentWrap {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  bottom: 50px;
  padding-bottom: 12px;
  overflow-y: auto;
}

#btnResetEform {
  padding: 6px 12px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #666;
}

#btnCloseEform {
  margin-left: 14px;
  padding: 6px;
  color: #666;
  font-size: 40px;
  line-height: 22px;
  vertical-align: middle;
}

#popupWrap .row {
  padding: 0 18px;
}

#popupWrap h3 {
  margin: 0;
  padding: 12px 0;
  font-size: 16px;
  font-weight: 500;
}

#tablePenInfo {
  border: 0;
  border-top: 12px solid #f5f5f5;
  border-bottom: 12px solid #f5f5f5;
  background-color: #f5f5f5;
  width: 100%;
}

#tablePenInfo th,
#tablePenInfo td {
  padding: 2px 8px;
}

#tablePenInfo th {
  min-width: 126px;
  text-align: left;
  font-weight: normal;
}

#tablePenInfo th:before {
  display: inline;
  content: '·';
  padding-right: 2px;
}

#tablePenInfo td {
  width: 100%;
}

#prodRow .right {
  padding: 8px;
}

#prodRow .notice {
  color: red;
}

#prodRow .checkbox {
  display: inline-block;
  margin-left: 12px;
}

#prodRow .prodContentWrap {
  border: 1px solid #ddd;
  padding: 0 8px;
}

#prodRow .prodTableRow:first-child {
  border-bottom: 1px solid #ddd;
}

#prodRow .prodTableRow {
  padding: 10px 0;
}

#prodRow .prodHead {
  -webkit-flex: 1;          /* Chrome */
  -ms-flex: 1;              /* IE 10 */
  flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  font-weight: 500;
}

#prodRow .prodTableWrap {
  overflow-x: auto;
}

#prodRow table {
  width: 100%;
  min-width: 800px;
}

#prodRow thead {
  background-color: #f5f5f5;
  color: #999;
}

#prodRow td,
#prodRow th {
  font-weight: normal;
  text-align: center;
  padding: 8px 6px;
}

#prodRow input[type=text] {
  width: 100%;
  height: 24px;
  border: 1px solid #ddd;
  text-align: center;
}

#prodRow .rangePicker {
  width: calc(50% - 2px) !important;
  margin: 0 1px;
}

.btnDelProd {
  font-size: 24px;
  width: 24px;
  height: 24px;
  line-height: 13px;
  vertical-align: middle;
  color: #666;
}

#btnAddBuyProd, #btnAddRentProd {
  display: block;
  padding: 6px 18px;
  margin-bottom: 6px;
  color: #fff;
  background-color: #ee8102;
}

#chkConfirm {
  vertical-align: middle;
  margin-right: 6px;
}

#popupWrap .row.entConAcc textarea {
  display: block;
  width: 100%;
  height: 100px;
  border: 1px solid #ddd;
  resize: vertical;
  padding: 8px;
}

.popupFootWrap {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
}

.popupFootWrap button {
  height: 100%;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
}

#btnSubmitEform {
  -webkit-flex: 1;          /* Chrome */
  -ms-flex: 1;              /* IE 10 */
  flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  background-color: #ee8102;
}

#btnCancelEform {
  background-color: #787878;
  width: 130px;
}
