@charset "utf-8";

/* Font */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic');

/*******************************/
/* Layout                      */
/*******************************/

/* Header */
#hd {
	background:#222 url('./bg.jpg') no-repeat top center;
	background-position:absolute;
	background-size:cover;
}
#hd_wrap { 
	background: rgba(34,34,34,0.4);
}

/* Logo */
#logo {
	height:90px;
}
#logo a { 
	display:inline-block; 
	padding:27px 20px; 
	font-family: "Source Sans Pro", sans-serif; 
	font-size:30px;
	font-weight:700; 
	line-height:120%;
	color:#fff; 
	text-shadow:2px 2px 3px rgba(0,0,0,0.75); 
}

/* Top Nav */
#tnb {
	right:20px; 
	top:30px; 
	padding:10px; 
	background: rgba(24,24,24,0.6);
}
#tnb a {
	color:#ccc;
}
#tnb a:hover {
	color:#36bbe1;
}
#tnb li {
	border-right:1px solid #666;
}
#tnb li:first-child {
	margin-left:0;
}
#tnb #tnb_logout a {
	color:#36bbe1;
}

/* Top Menu */
#gnb {
	background: rgba(24,24,24,0.75);
	padding-left:180px;
}
.gnb-fixed #gnb {
	width:100%;
	background: rgba(24,24,24,0.9);
}
#gnb_1dul {
	margin:0px;
}
.gnb_1dli {
    margin: 0px;
    border: 0px;
}
.gnb_1da {
	padding:0px 25px;
	width:auto;
	height:42px;
	line-height:42px;
	font-size: 14px; font-family: "Source Sans Pro", sans-serif;
}
.gnb_2dul {
	top:42px;
	margin-left:1px;
    border: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0px 6px 12px rgba(0,0,0,0.175);
}
.gnb_2da.on {
	color:#fff !important;
	background:#333 !important;
}

/* Top Icon */
#inb { 
	position:absolute;
	top:0px;
	left:0px;
	width:180px; 
	height:42px; 
	background: rgba(24,24,24,0.75);
	display:table; 
	table-layout:fixed; 
}
#inb a {
	display:table-cell; 
	width:1%;
	text-align:center;
	vertical-align:middle;
	height:42px;
	padding:0px;
	color:#fff;
	font-size:18px;
}

/* Wrapper */
#tbl_wrap {
	display:table; 
	width:100%; 
	table-layout:fixed; 
	background:#fff;
}

/* SideMenu */
#side_wrap {
	display:table-cell; 
	width:180px; 
	margin:0px; 
	padding:0px 0px 100px; 
	border-bottom:0px;
	background-color:#f5f5f5;
	vertical-align:top; 
	box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.2); 
}
#side_login {
	padding:12px 12px 8px;
	background:#fff;
	border-bottom:1px solid #ddd;
}
#side_login a {
	text-decoration:none !important;
}
#side_login .user:after {
	display:block;
	visibility:hidden;
	clear:both;
	content:"";
}
#side_login .photo { 
	float:left;
	margin-right:10px;
}
#side_login .photo img { 
	width:44px; 
	height:44px; 
	border-radius: 50%; 
	border:0px;
}
#side_login .photo i { 
	width:44px; 
	height:44px; 
	font-size:26px; 
	line-height:44px; 
	text-align:center; 
	background:#ddd; 
	border-radius: 50%; 
	color:#fff; 
}
#side_login .name {
	float:left;
	color:#888;
	letter-spacing:-1px;
	font-size:0.95em;
}
#side_login .name p {
	padding:2px 0px 4px;
	margin:0px;
	color:#000;
	font-size:1.15em;
	font-weight:bold;
}
#side_login .msg {
	list-style:none;
	margin:12px 0px 0px;
	padding:0px;
	line-height:20px;
}
#side_login .msg a {
	color:#888 !important;
	letter-spacing:-1px;
}
#side_menu,
#side_menu ul {
	list-style:none;
	padding:0px;
	margin:0px;
}
#side_menu a {
	display:block; 
	padding:10px; 
	text-decoration:none;
	border:0px;
	border-bottom:1px solid #ddd;
	font-weight:bold;
}
#side_menu a.on {
	color:#fff !important;
	background:#333 !important; 
	font-weight:bold; 
}
#side_menu ul {
	background:#fff;
}
#side_menu ul a {
	padding-left:20px;
	font-weight:normal;
}
#side_menu ul a.on {
	background:#fafafa !important;
	color:#000 !important; 
	font-weight:bold; 
}

/* Content */
#wrapper {
	display:table-cell; 
	min-height:500px; 
	padding:20px 0px; 
	border-left:2px solid transparent;
}

/* Footer */
#ft {
	margin:0px;
	padding:20px 20px 30px;
	background:#fff;
}

/*******************************/
/* G5 & YC5 Default            */
/*******************************/

/* Common */
body { 
	background:#fff; 
	min-width:1200px; 
}
a, a:hover { 
	text-decoration:none; 
}
h1 {
	border-bottom-color:#e3e3e3;
}
.pull-right {
	float:right;
}

/* Table */
.bg1{
	background:#fcfcfc;
}
.bg1 td {
	border-color:#e3e3e3;
}
tbody td{
	border:1px solid #e3e3e3;
}
tbody td a{
	text-decoration:none !important;
}
.tbl_head01 tbody th,
.tbl_head02 tbody th {
    background: #fafafa;
}
.tbl_head01 thead th { 
	border-color:#555; 
	background:#383838; 
	color:#fff; 
}
.tbl_head01 thead a {
	color:#fff;
}
.tbl_head02 thead th {
	border-color:#555; 
	background:#383838; 
	color:#fff;
}
.tbl_head02 thead a {
	color:#fff;
}
.tbl_head01 tbody td {
	padding:6px 5px;
}
tfoot th, tfoot td {
	border-color:#e3e3e3;
    background: #f5f5f5;
}

/* Form */
textarea,
.frm_input {
	border:1px solid #d9d9d9;
	background:#f3f3f3;
}
.required {
	background-color:#f3f3f3 !important;
}
.local_ov01 {
	border-bottom-color:#e3e3e3; 
	background:#fafafa;
}
.local_sch01 .sch_item_title {
	display:inline-block;
	margin:0px 10px;
	padding:5px;
	border:1px solid #e9e9e9;
	background-color:#f4f4f4;
	vertical-align:middle;
}
.local_sch02 button {
    border: 1px solid #ddd;
    background: #f5f5f5;
}
.sch_item_title:first-of-type,
.sch_item_title.first {
	margin-left:0px;
}
#fsendmailtest .btn_submit {
	padding:5px 8px;
    font-size: 1.05em;
}

/* Button */
.td_mng a, 
.td_mngsmall a { 
	display:inline-block; 
	padding:0px 4px; 
	height:20px; 
	line-height:20px;
	text-decoration:none;
}
.btn_win01 a,
.btn_win01 button {
	border:0px; 
	background:#888;
	color:#fff;
}
.btn_submit {
	border:0px !important;
	background:#383838 !important; 
	color:#fff;
}
.btn_list01 input,
.btn_list01 button,
.btn_list01 a { 
	border:1px solid #d3d3d3;
	background:#eee;
	color:#333;
}
.btn_list03 button,
.btn_list03 a {
	background:#555;
	color:#fff;
}
.btn_confirm01 {
	clear:both;
	text-align:center;
}
.btn_confirm01 button,
.btn_confirm01 a {
	display:inline-block;
	padding:0px 15px;
	height:30px;
	line-height:30px;
	background:#888;
	color:#fff;
	text-decoration:none;
	vertical-align:middle;
}
.btn_confirm01 button:focus,
.btn_confirm01 a:focus {
	background:#555;
}
.btn_confirm02 button {
    background: #333;
    color: #fff;
}

/* Theme */
#theme_list li .tmli_if {
	border:1px solid #ddd;
}
#theme_list li .tmli_tit {
	border-top:1px solid #ddd;
	background:#f5f5f5;
}
#theme_detail table th {
    border: 1px solid #ddd;
    background: #f5f5f5;
}
#theme_detail .thdt_if p {
	border:1px solid #ececec;
}

/* Shop */
.compare_wrap section {
	border:1px solid #ececec;
    background: #fafafa;
}

/* Misc */
#sms5_preset {
    margin: 0 20px 10px;
}
.anchor a {
	border:1px solid #ddd;
    background: #f5f5f5;
}
.anchor a:hover,
.anchor a.on {
	color:#fff;
	border:1px solid #333;
	background:#333;
}
span.ok {
	color:#37a600 !important;
}
span.err{
	color:#f00 !important;
}
