/* common */
.clear:after {
    display: table;
    content: ' ';
    clear: both;
}
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.align-items {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.no_content {
    text-align: center;
    padding: 50px 0 !important;
}

/* table */
.list_box table td {
    border-right: none !important;
}
.list_box table td.td_date {
    width: 150px !important;
    text-align: center;
}
.list_box table td.td_btn {
    width: 110px;
    text-align: center;
}

/* 직원관리 */
.emp_hd {
    line-height: 40px;
    font-size: 16px;
    float: left;
}
.emp_list {
    margin-top: 10px;
    border-top: 1px solid #ddd;
}
.emp_list > li {
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}
.emp_list > li .emp_info_wr .emp_img {
    display: block;
    width: 100px;
    height: 100px;
    margin-right: 10px;
}
.emp_list > li .emp_info_wr .emp_info {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex-grow: 1; 
}
.emp_list > li .emp_info_wr .emp_info p {
    margin: 0;
}
.emp_list > li .emp_info_wr .emp_info p.name {
    font-size: 18px;
    font-weight: bold;
}
.emp_list > li .emp_info_wr .emp_info ul.detail {
    margin-top: 10px;
}
.emp_list > li .emp_info_wr .emp_info ul.detail > li {
}

.emp_btn_wr {
    position: absolute;
    right: 10px;
    bottom: 20px;
}
.emp_btn_wr .btn_schedule {
    display: block;
    min-width: 165px;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #333;
    margin-bottom: 5px;
    text-align: center;
}
.emp_pay {
    text-align: right;
}
@media (max-width: 960px) {
    .emp_btn_wr {
        position: static;
        margin-top: 10px;
    }
}

/* 직원정보 */
.btn_schedule.inline {
    display: inline-block;
    border: 1px solid #ef8505;
    color: #ef8505;
    margin-right: 5px;
}
.btn_etc {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #333;
    min-width: 100px;
    text-align: center;
}
.mv_btn_row {
    text-align: right;
    margin-bottom: 10px;
}
.mv_section {
    margin-top: 30px;
}
.mv_section_hd {
    margin-bottom: 10px;
}
.mv_section_hd h3 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}
.cp_won {
    display: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
    margin-left: -5px;
}
@media (min-width: 768px) {
    .cp_won {
        display: inline-block;
    }
}

/* 사례관리 */
.case_list {
    border-top: 1px solid #ddd;
    margin-bottom: 20px;
}
.case_list > li {
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}
.case_list > li .idx {
    padding: 0 20px;
}
.case_list > li .content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex-grow: 1; 
}
.case_list > li .content p {
    margin: 0;
}
.case_list > li .content p.title {
    font-size: 18px;
}
.case_list > li .content p.provider {
    color: #666;
}
.case_list > li .check {
    padding-right: 20px;
}
