@charset "utf-8";

/* nanum-gothic-regular - latin_korean */
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    src: local('NanumGothic'),
    url('../fonts/nanum-gothic-v17-latin_korean-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/nanum-gothic-v17-latin_korean-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nanum-gothic-700 - latin_korean */
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 700;
    src: local('NanumGothic Bold'), local('NanumGothic-Bold'),
    url('../fonts/nanum-gothic-v17-latin_korean-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/nanum-gothic-v17-latin_korean-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nanum-gothic-800 - latin_korean */
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 800;
    src: local('NanumGothic ExtraBold'), local('NanumGothic-ExtraBold'),
    url('../fonts/nanum-gothic-v17-latin_korean-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/nanum-gothic-v17-latin_korean-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
	font-family: "Noto Sans KR";
	font-weight: 400;
	src: url("../fonts/notosanskr-regular.woff2") format("woff2"),
	url("../fonts/notosanskr-regular.woff") format("woff")
}

@font-face {
	font-family: "Noto Sans KR";
	font-weight: 500;
	src: url("../fonts/notosanskr-medium.woff2") format("woff2"),
	url("../fonts/notosanskr-medium.woff") format("woff")
}

@font-face {
	font-family: "Noto Sans KR";
	font-weight: 700;
	src: url("../fonts/notosanskr-bold.woff2") format("woff2"),
		url("../fonts/notosanskr-bold.woff") format("woff")
}

@font-face {
	font-family: "Noto Sans KR";
	font-weight: 900;
	src: url("../fonts/notosanskr-black.woff2") format("woff2"),
	url("../fonts/notosanskr-black.woff") format("woff")
}

@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/slick.eot');
    src: url('../fonts/slick.eot?#iefix') format('embedded-opentype'),
    url('../fonts/slick.woff') format('woff'),
    url('../fonts/slick.ttf') format('truetype'),
    url('../fonts/slick.svg#slick') format('svg');
}
