/* common */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* 상단 폼 */
.panel-default {
  position: relative;
  border-radius: 5px;
}
.form-group {
  margin-bottom: 10px;
}
.form-group .form-control {
  display: inline-block;
  width: 150px;
  margin-right: 10px;
  border-radius: 3px !important;
}
.form-group .control-label {
  max-width: 120px;
  padding-top: 0;
}
.btn_so_coupon {
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #fff;
  color: #666;
  font-weight: bold;
  line-height: 1px;
  text-align: center;
  height: 28px;
  width: 60px;
  margin-left: 5px;
}
.so_btn_wr {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10px;
  right: 20px;
}
.btn_so_order {
  display: inline-block;
  margin: 10px 0;
  padding: 10px;
  width: 250px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  background: #ef8505;
}
.btn_so_order:hover, .btn_so_order:focus {
  color: #fff;
}
.btn_so_order img {
  display: inline-block;
  margin-right: 5px;
}
@media (max-width: 960px) {
  .so_btn_wr {
    position: fixed;
    top: unset;
    right: unset;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
    z-index: 10;
  }
  .so_btn_wr .btn_so_order {
    margin: 0;
    width: 100%;
    padding: 20px 0;
    border-radius: 0;
  }
}

.order-info .top h5 {
  color: #333;
  font-size: 18px;
  font-weight: bold;
}

/* 품목 목록 - 검색 */
.so_sch_wr {

}
.so_sch_hd {
  font-weight: bold;
  font-size: 18px;
  margin-right: 20px;
}
.so_sch_ipt {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex-grow: 1; 
}
.so_sch_ipt .ipt_so_sch {
  display: block;
  width: 100%;
  max-width: 250px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  line-height: 1.5;
}
.btn_so_sch {
  border: 1px solid #ddd;
  border-radius: 3px;
  line-height: 1.5;
  padding: 5px 15px;
  margin-left: 10px;
  text-align: center;
}

/* 품목 목록 - 상품 리스트 */
.so_item_list {
  margin-top: 20px;
  background-color: #f5f5f5;
}
.so_item_list > li {
  margin: 0 15px;
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
}
.so_item_list > li:last-child {
  border-bottom: none;
}
.it_info_wr {
  position: relative;
  padding-left: 110px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex-grow: 1; 
}
.it_info_wr .it_img {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 100px;
  min-width: 100px;
  max-width: 100px;
  height: 100px;
  border: 1px solid #ddd;
}
.it_info_wr .it_info > p {
  margin: 10px 0;
}
.it_info_wr .it_info .it_name {
  font-weight: bold;
  font-size: 16px;
}
.it_info_wr .it_info .it_price {
  color: #666;
}
.it_qty_wr {
  width: 200px;
}
.it_qty_wr .input-group {
  width: 120px;
  margin: 0 auto;
}
.it_qty_wr .it_qty_desc {
  font-size: 12px;
  line-height: 1.25;
  color: #666;
  width: 120px;
  padding: 0 4px;
  margin: 4px auto 0 auto;
}
.it_price_wr {
  width: 200px;
}
.it_price_wr .it_price {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
.btn_del_item {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 5px;
  width: 55px;
  height: 35px;
  text-align: center;
  line-height: 25px;
}
@media (max-width: 960px) {
  .so_item_list > li.flex {
    display: block;
  }
  .it_qty_wr {
    width: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 20px;
  }
  .it_qty_wr .input-group {
    margin: 0;
  }
  .it_qty_wr .it_qty_desc {
    width: unset;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex-grow: 1; 
    margin-top: 0;
    margin-left: 10px;
  }
  .it_price_wr {
    width: unset;
    margin-top: 10px;
  }
}