@charset "utf-8";

/* List Head */
.list-head, .list-head th { 
	font-weight:bold; border:0px; text-align:center; clear:both;
	color:#333; height:43px; line-height:43px; border-bottom:1px solid #ddd; 
}
.list-head a { 
	text-decoration:none; color:#333; 
}
.list-head a:hover, 
.list-head a:focus, 
.list-head a:active { 
	color:#000; 
}
