@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);


* { margin: 0; padding: 0; box-sizing: border-box;}
br {font-family: 'sans-serif';}
body { word-break: break-word; color: #333; background-color: #fff;font-family: 'Nanum Gothic', sans-serif;}
body.on { overflow: hidden;}
a { text-decoration: none; color: #333;}
ul, li, ol {list-style: none;}
img { vertical-align: middle; max-width: 100%;}
br {font-family: sans-serif !important;}
.wrap { max-width: 1400px; margin: 0 auto;}
button { cursor: pointer; padding: 0;}
button, input, textarea { border: none; background:transparent;font-family: 'Nanum Gothic', sans-serif;}
button, :focus, :active { outline: 0;}
button:focus, button:active { padding: 0;}
button span, button img { position: relative;}
table {border-collapse: collapse;}
.hidden { text-indent: -99999px; overflow: hidden; font-size: 0; display: none;}
.cb:after { clear: both; display: block; content: '';}

/* 검색폼 */
.search-box {margin:0 0 16px;font-size: 0;text-align: left;} 
.search-box select {margin-right:6px;display: inline-block;vertical-align: top;width:97px;height:30px;border:1px solid #d7d7d7;border-radius: 6px;font-size: 14px;}
.search-box .input-search {display: inline-block;vertical-align: top; width:176px;height:30px;overflow: hidden;position: relative;border: 1px solid #d7d7d7;border-radius: 6px;}
.search-box .input-search input {width: calc(100% - 30px); height: 28px;font-size: 14px;}
.search-box .input-search button {position: absolute;top:0;right:0;z-index:1;width: 30px;height: 30px;background: url('../image/search_icon.png') no-repeat center top 50%/12px auto;}
/* 페이징 */
.pg-wrap {margin: 90px 0 0;}
.pg-wrap div {text-align: center;font-size: 0;}
.pg-wrap div a {display: inline-block;padding: 0 13px; vertical-align: middle;font-size: 14px;color:#999;}
.pg-wrap div a.on {color:#333}


.order-list {position: relative;}
.order-list .r_btn_area {
  position: absolute;
  right: 0;
  top: 20px;
}
.order-list .r_btn_area2 {
    position: absolute;
    right: calc(20px + 120px);
    top: 20px;
}
.pc_none,.info_pc_none {display: none !important;}
.m_barcode {display: none;}

#hidden_order {
  display: none;
  position: absolute;
  right: 0;
  top: 60px;
  background-color: #fff;
  width: 350px;
  padding: 20px;
  border: 1px solid #ddd;
  z-index: 500;
  max-height: 300px;
  overflow-y: auto;
}
#hidden_order .hidden_order_title {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 10px;
}
#hidden_order .hidden_order_empty {
  padding: 40px 0 20px 0;
  text-align: center;
}
#hidden_order ul {
  border-top: 1px solid #ddd;
}
#hidden_order ul li {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
#hidden_order .hidden_order_info {
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
#hidden_order .hidden_order_info .row{
  margin: 0;
}
#hidden_order .btn_cancel {
  height: 35px;
  font-size: 14px;
  line-height: 1;
  width: 50px;
}

.tti {padding: 0 0 16px 16px; font-size: 24px;}
.tti p {padding-top: 10px; font-size: 16px;font-weight: 300;}
.order-date {clear: both; margin-bottom: 30px; padding:10px;background: #f3f3f3;border:1px solid #e7e7e7;}
.order-date .date-box {display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;}
.order-date .list-text {display: -webkit-box; display: -ms-flexbox; display: flex;}
.order-date .list-text div {width: 50%;text-align: center;}
.order-date .list-text div:last-child {border-left: 1px solid #ddd;}
.order-date .list-text div span {font-size: 16px;}
.order-date .list-text div span img {padding-right: 20px;}
.order-date .list-date {font-size: 14px;}
.order-date .list-date input {width: 136px;height: 40px; background: #fff;border: 1px solid #ddd;}
.order-date .list-date input:nth-of-type(2) {margin-left: 8px;}
.order-date .list-date img {padding: 0 8px;}
.order-date .list-tab {}
.order-date .list-tab a {display: inline-block;vertical-align: top;margin-right: 6px; width: 84px;height: 40px;line-height:38px;border: 1px solid #ddd;font-size: 14px;text-align: center;background: #fff;}
.order-date .list-tab a:last-child {margin-right: 0;}
.order-date .list-tab a.on {background: #333;color: #fff;}
.order-date .list-select {font-size: 0;}
.order-date .list-select .select {position: relative;margin: 0 6px 0 0; display: inline-block; vertical-align: top;  width: 116px; height: 40px; background: #fff;font-size: 14px;}
.order-date .list-select .select p {border: 1px solid #ddd; cursor: pointer; padding: 0 10px; line-height: 40px; background: url('../image/icon_18.png') no-repeat right 10px top 50%/10px auto;}
.order-date .list-select .select ul {display: none;position: absolute;top:40px;left:0;right:0;z-index:2;height:100px;overflow-y: auto; border:1px solid #ddd;border-top: none; background: #fff;}
.order-date .list-select .select ul li a {display: block;padding: 10px 4px;border-bottom: 1px solid #ddd;font-size: 12px;}
.order-date .list-select .select ul li:last-child a {border-bottom: none;}

.order-date .list-select button {width: 116px;height: 40px; font-size: 14px;color:#fff;background: #333;text-align: center;}

.orderinquiry-head .latest_order_head { max-width: 700px; margin: 0 auto; padding: 25px 0; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.orderinquiry-head .latest_order_head .step { display: block; width: 21%; text-align: center; }
.orderinquiry-head .latest_order_head .step .num { font-size: 40px; line-height: 1; color: #333; font-weight: bold; opacity: 0.2; }
.orderinquiry-head .latest_order_head .step .desc { font-size: 14px; color: #333; font-weight: 600; opacity: 0.2; }
.orderinquiry-head .latest_order_head .step.active .num,
.orderinquiry-head .latest_order_head .step.active .desc { opacity: 1; }
.orderinquiry-head .latest_order_head .next { color: #aaaaaa; font-size: 20px; font-weight: bold; }

.orderinquiry-head .list_tab { margin-bottom: 0; }
.orderinquiry-head .list_tab li a { font-size: 16px; color: #666; }
.orderinquiry-head .list_tab li.active a { color: #ee8102; font-weight: 600;}

.orderinquiry-list-table .pen_info { padding-top: 15px; line-height: 30px; font-size: 14px; color: #666666; }
.orderinquiry-list-table .pen_info .btn_pen { display: inline-block; margin-right: 7px; vertical-align: top; padding: 5px 7px; font-size: 14px; line-height: 20px; border-radius: 5px; border: 1px solid #ee8102; color: #ee8102; height: 30px; }

.orderinquiry-list-table .order_info { padding-top: 15px; font-size: 12px; color: #666666; }
.orderinquiry-list-table .order_info span { display: inline-block; }
.orderinquiry-list-table .order_info span:after { display: inline-block; margin: 0 5px; content: '|'; }
.orderinquiry-list-table .order_info span:last-child:after { display: none; }
.orderinquiry-list-table .order_info .pc { display: inline-block; font-style: normal; }
.orderinquiry-list-table .pc_none { display: none; }

.list-wrap {}
.list-wrap .top {margin: 24px 0 16px;}
.list-wrap .top span {display: inline-block;vertical-align: top;padding: 3px 7px;font-size: 14px;}
.list-wrap .top span i {font-style: normal;}
.list-wrap .top span::after {margin:0 10px;content: '';display:inline-block;vertical-align: middle; width: 1px;height: 14px;background: #ddd;}
.list-wrap .top .btn-pro {border-radius: 5px; border: 1px solid #ee8102; color:#ee8102;}
.list-wrap .top .btn-pro.on {border-color: #666;color: #333;}
.list-wrap .top span:last-child::after {display: none;}


.list-wrap {padding-bottom: 50px;}
.list-wrap .info-top {padding: 10px 16px; background: #f6f8e3;  display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; position: relative; top: 1px;  }
.list-wrap .info-top a {width: 100px; border-radius: 5px;text-align: center; display: inline-block;vertical-align: top;padding: 3px 0;border:1px solid #b6bd00;background: #fff;color: #b6bd00;font-size: 14px;}
.list-wrap .info-top h5 {font-size: 14px; line-height: 30px; font-weight: normal; margin: 0 !important;   position: relative;}

.table-list {}
.table-list .list {padding: 15px 16px;}
.table-list .list ul {display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.table-list .list li {}
.table-list .list .btn-0 {margin-bottom: 6px; display: block;vertical-align: top;width: 100px;border: 1px solid #ddd;background: #fff;padding: 3px 0;border-radius: 5px; font-size: 14px;text-align: center;}
.table-list .list .btn-0:last-child {margin-bottom: 0;}
.table-list .list .btn-0.btn-02 {background: #ddd;}
.table-list .list .btn-0.btn-03 {border:1px solid #428bca;color:#428bca;}
.table-list .list .btn-0.btn-04 {
    border:1px solid #428bca;
    color: white;
    background-color:#428bca;
}
.table-list .pro {width: 70%; display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.table-list .pro .img {width: 100px;height: 100px;border: 1px solid #ddd;}
.table-list .pro-info {padding-left: 20px;}
.table-list .pro-info .name {font-size: 16px;}
.table-list .pro-info .name b {display: inline-block;vertical-align: middle;padding: 3px 10px; color: #ee8102;border: 1px solid #ee8102; border-radius: 5px; font-weight: normal;font-size: 14px;}
.table-list .pro-info div {padding-bottom: 7px; font-size: 14px;}
.table-list .pro-info .day {color: #666;}
.table-list .pro-info .day i {display: inline-block;vertical-align: middle;padding: 3px 10px; font-style: normal;background: #b6bd00;border-radius:5px;color: #fff;}
.table-list .pro-info .day i.on-order {background: #ee8102;}
.table-list .pro-info div em {display: inline-block;vertical-align: top;font-style: normal;}

.table-list .delivery {width: 15%;text-align: right;font-size: 14px;}
.table-list .info-btn {width: 15%;text-align: right;}
.table-list .info-btn div {display: inline-block;}
.table-list .info-btn .barcode_preview {width: 100px}
.table-list .info-btn .barcode_preview ul {width:100%; flex-direction: column; text-align: center}

.table-list.table-list2 {border-top: 1px solid #ddd;}
.table-list.table-list2:last-child {border-bottom: 1px solid #000;}
/*.table-list.table-list2 .list {border-top: 1px solid #ddd;}*/

/* 주문신청 */
.detail-tab {margin-bottom: 44px;}
.detail-tab ul {font-size: 0;border:1px solid #ddd;}
.detail-tab ul li {cursor: pointer; padding: 16px 0;width: 33.333%;position: relative; display: inline-block;vertical-align: top;background: #f3f3f3;text-align: center;}
.detail-tab ul li::after {content: '';position: absolute;right: 0;top: 10px;width: 1px;height: calc(100% - 20px);background:#ddd;}
.detail-tab ul li.on::after,
.detail-tab ul li:last-child::after {display: none;}
.detail-tab ul li span {display: block;width: 40px;height:40px;margin:0 auto;background: url('../image/icon_20.png') no-repeat center/100% auto;}
.detail-tab ul li h4 {font-size: 24px;padding: 3px 0 10px;color: #999;}
.detail-tab ul li p {font-size: 14px;font-weight: 300;color: #999;}
.detail-tab ul li.on {background: #666;}
.detail-tab ul li.on span {background-image: url('../image/icon_19.png');}
.detail-tab ul li.on h4,
.detail-tab ul li.on p {color: #fff;}

.tab-wrap {display: none; }
.tab-wrap.on {display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;}
.detail-wrap {width: calc(100% - 350px);}
.detail-price {width: 340px;margin-left: 10px;}
.detail-price .text {margin-bottom: 30px;}
.detail-price .text span {display: block;margin-bottom:10px;font-size: 12px;color: #666;}
.detail-wrap h4 {font-size: 16px;margin-bottom: 17px;}

.pro-icon {font-size: 0;}
.pro-icon i {display: inline-block;vertical-align: middle;padding: 3px 10px;margin-right: 6px; font-style: normal;border-radius:5px;color: #fff;font-size: 14px;}
.pro-icon .icon01 {background: #999;}
.pro-icon .icon02 {background: #b6bd00;}
.pro-icon .icon03 {background: #ee8102;}

.table-list2 .pro {width: 70%;}
.table-list2 .num {width: 10%;}
.table-list2 .pro-price {width: 20%;}
.table-list2 .price {width: 15%;} 
.table-list2 .delivery-price {width: 20%;} 
.table-list2 .basic-price {width: 10%;}
.table-list2 .tax-price {width: 10%;}

.table-list2 .head {display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.table-list2 .head li {display: block; padding: 12px 0 12px 20px; background: #eee;text-align: center;font-size: 16px;}

.table-list2 .list {padding: 15px 0px;font-size: 14px;}
.table-list2 .list:last-child {border-bottom: none;}
.table-list2 .list ul {display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.table-list2 .list ul > li {display: block;text-align: right;}
.table-list2 .list .pro {display: -webkit-box; display: -ms-flexbox; display: flex; }
.table-list2 .pro .img {width: 100px;min-width:100px;max-width:100px;height: 100px;border: 1px solid #ddd;}
.table-list2 .pro .img > img { width: 100%; height: 100%; }
.table-list2 .pro-info {padding-left: 20px;text-align: left;}
.table-list2 .pro-info div {padding-bottom: 7px;}
.table-list2 .pro-info div:last-child {padding-bottom: 0;}
.table-list2 .pro-info .name {font-size: 16px;}
.table-list2 .pro-info .name b {display: inline-block;vertical-align: middle;padding: 3px 10px; color: #ee8102;border: 1px solid #ee8102; border-radius: 5px; font-weight: normal;font-size: 14px;}

.table-list2 .list-btm {margin-top: 22px;}
.table-list2 .list-btm > div {padding-bottom: 14px; display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.table-list2 .list-btm .btm-tti {width: 100px;}
.table-list2 .list-btm span {width: 100%;}
.table-list2 .list-btm .list-day { display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.table-list2 .list-btm .list-day input {width: 92px;height: 30px;border: 1px solid #ddd;padding: 0 2px;display: inline-block;text-align:center;}
.table-list2 .list-btm .list-day ul {font-size: 0;margin-left:6px;}
.table-list2 .list-btm .list-day ul li {margin-right: 6px; display: inline-block;width: 50px;height: 30px;line-height:28px;border: 1px solid #ddd;background: #eee;text-align: center;font-size: 14px;}
.table-list2 .list-btm .list-day ul li:last-child {margin-right: 0;}
.table-list2 .list-btm .list-day ul li.on {background: #666;}
.table-list2 .list-btm .list-day ul li.on a {color: #fff;}
.table-list2 .list-btm textarea {padding: 5px 0 0; resize: none; width: 100%;border: 1px solid #ddd;height: 30px;font-size: 12px;}

.w-240 {width: 240px !important;}
.w-70 {width: 70px !important;}
.w-all {width: 100%;}
.order-info {margin-top: 74px;}
.table-list3 {margin-bottom: 74px; padding: 20px 0;border-bottom: 1px solid #ddd;}
.table-list3 select {border:1px solid #ddd;border-radius: none;height: 26px;}
.table-list3 ul li {padding-bottom: 14px; display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.table-list3 ul li div {width: 100%;}
.table-list3 ul .addr div {margin-bottom: 14px;}
.table-list3 ul .addr div:last-child {margin-bottom: 0;}
.table-list3 ul .addr button {margin-left: 10px; border:1px solid #333;width: 70px;height:26px;text-align: center;}
.table-list3 ul li strong {display: block;width: 90px;font-size: 14px;}
.table-list3 ul li input {padding: 5px; border: 1px solid #ddd;height: 26px;}
.table-list3 ul li textarea {padding: 5px; resize: none;height: 70px;border: 1px solid #ddd;}

.table-list4 {}
.table-list4 ul li {display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.table-list4 .list-con {display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.table-list4 .list-con > div {width: 100%;padding-right: 17px;}
.table-list4.table-list3 ul .addr button {margin:0 10px 0 0;}
.table-list4.table-list3 ul .addr input {width:calc(100% - 100px);}
.table-list4.table-list3 ul li input {width: 100%;}
.table-list4 .list-con.list-tel div {display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;}
.table-list4 .list-con.list-tel div input,
.table-list4 .list-con.list-tel div select {width: 100%; margin-right: 10px;}
.table-list4 .list-con.list-tel div input {margin-left: 10px;}
.table-list4 .list-con.list-tel div input:last-of-type {margin-right: 0;}
.email input, .email select {width: calc(50% - 12px) !important;}

.order-info {}
.order-info .top {padding-bottom: 12px; border-bottom: 2px solid #ccc;display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;}
.order-info .top h5 {color:#232323;font-size: 16px;}
.order-info .top .add-ac {position: relative; font-size: 14px;color: #666;width: 114px;}
.order-info .top .add-ac p {cursor: pointer; padding: 5px 0 5px 12px; background: url('../image/icon_18.png') no-repeat right 10px top 50%/8px auto;}
.order-info .top .add-ac ul {display: none; position: absolute;left: 0;top:26px;background: #fff;z-index: 1; padding: 10px 12px;border: 1px solid #ddd;height: 124px;overflow-y: auto;}
.order-info .top .add-ac ul li {cursor: pointer;padding-bottom: 10px;}
.order-info .top .add-ac ul li:last-child {padding-bottom: 0;}

.check-ac .check {display: inline-block; vertical-align: middle;margin-right: 14px;}
.check-ac .check input[type="checkbox"] {display: none;}
.check-ac .check label { display: inline; width: 100%;}
.check-ac .check input[type="checkbox"] + label .check_on { cursor: pointer;padding-right:0; display: inline-block; width:18px;height:18px; border-radius: 50%; border:1px solid #ddd; background-color: #fff;}
.check-ac .check input[type="checkbox"]:checked + label .check_on {position: relative; border:1px solid #ee8102;}
.check-ac .check input[type="checkbox"]:checked + label .check_on:after {content: ''; display: block; position: absolute;  display: block; left: 50%; top:50%; margin: -5px 0 0 -5px; width: 10px; height: 10px; border-radius: 50%; background: #ee8102;}
.check-ac .check b {display: inline-block;vertical-align: top;font-size: 14px;color: #666;font-weight: 300;}

.detail-price h5 {padding-bottom: 18px; font-size: 16px;color: #232323;}
.coupon-icon {display: inline-block;padding: 2px 9px;border-radius: 5px;border:1px solid #ddd;background:#eee;font-style: normal;}
.detail-price .all-info {margin-bottom: 40px;}
.detail-price .all-info ul {padding: 10px; border: 1px solid #666;border-bottom-color: #ddd;}
.detail-price .all-info ul li div {padding-bottom: 12px; display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;font-size: 14px;}
.detail-price .all-info ul li:last-child div {padding-bottom: 0;}
.detail-price .all-info ul li b {font-weight: normal;}
.detail-price .all-info ul li span {font-weight: bold;}
.detail-price .all-info ul li .coupon-on {padding-left: 25px;} 
.detail-price .all-info ul li .coupon-on b::before {margin-right: 4px; content: '';width: 12px;height: 15px;border: 1px solid #ddd;border-right: none;border-top: none;display: inline-block;vertical-align: super;}
.detail-price .all-info-price {padding: 13px 10px; display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;border: 1px solid #666;border-top: none;}
.detail-price .all-info-price b,
.detail-price .all-info-price span {font-weight: bold;font-size: 16px;}

.payment-tab {margin-bottom: 40px;}
.payment-tab ul {display: -webkit-box; display: -ms-flexbox; display: flex;}
.payment-tab ul li {cursor: pointer; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; border: 1px solid #ddd;height: 96px;}
.payment-tab ul li a {font-size: 14px;}
.payment-tab ul li a img {display: block;margin: 0 auto; padding-bottom: 14px;}
.payment-tab ul li.on {border-color: #333;}
.payment-tab ul li.on a {color: #ee8102;}

.pay-btn {display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;}
.pay-btn button {width: 70%;height: 47px;background:#ee8102;color:#fff;font-size: 16px;text-align: center;}
.pay-btn a {margin-left: 6px; display: inline-block;width: 30%;height: 47px;line-height: 47px;color: #fff;background:#666;text-align: center;}

.tab-2 .table-list2 .delivery-price {width: 10%;}
.table-list2 .pro-price {width: 15%;}
.tab-2 .table-list2 .barcode {width: 20%;}
.tab-2 .table-list2 .barcode input {width: 100%; height: 26px;border: 1px solid #ddd;}
.tab-2 .table-list2 .list-btm .check-ac span {width: auto;}
.tab-2 .detail-price .all-info.all-info2 ul li div {-webkit-box-pack: start; -ms-flex-pack: start; justify-content: start;}
.tab-2 .detail-price .all-info.all-info2 ul {border: none;border-top: 2px solid #ccc;border-bottom: 1px solid #ccc;}
.tab-2 .detail-price .all-info.all-info2 ul li b {width: 140px;font-weight: bold;}
.tab-2 .detail-price .all-info.all-info2 ul li span {font-weight: normal;}
.num-select {position: relative; font-size: 14px;color: #666;width: 60px;}
.num-select p {cursor: pointer; border:1px solid #ddd; padding: 5px 0 5px 12px; background: url('../image/icon_18.png') no-repeat right 10px top 50%/8px auto;}
.num-select ul.on {display: block !important;border:1px solid #ddd;border-top: none;}
.num-select ul {display: none !important; position: absolute;left: 0;top:26px;background: #fff;z-index: 1; padding: 10px 12px;border: 1px solid #ddd;width: 100%;height: 80px;overflow-y: auto;}
.num-select ul li {cursor: pointer;padding-bottom: 10px;}
.num-select ul li:last-child {padding-bottom: 0;}
.icon-tti {position: relative;}
.icon-tti a {position: absolute;right: 0;top: 0;z-index: 1; padding:5px 4px;border-radius: 5px;font-weight: 300; background: #666;color: #fff;font-size: 12px;}

#pro-order .tti,
#pro-order2 .tti {padding-left: 0;}
#pro-order2 .tti {display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.list-more a {font-weight: 400; padding: 9px 49px; display:inline-block;font-size: 14px;color:#232323; border: 1px solid #ddd;}
.delivery_price_pc {display: none;}
#pro-order2 .de-btn {display: inline-block;vertical-align: middle;padding: 3px 10px;margin-right: 6px; font-style: normal;border-radius:5px;font-size: 14px;background: #fff;border: 1px solid #ddd;}
#pro-order2 .name-top {margin-bottom: 44px;}
#pro-order2 .name-top div {background: #f6f8e3;padding: 12px;font-size:14px;display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
#pro-order2 .name-top div > p { margin: 0; }
#pro-order2 .name-top div a {border-radius: 5px; display: inline-block;padding: 6px 0;width: 100px;text-align: center; color: #b7be00;background: #fff;border:1px solid #b7be00;}
#pro-order2 .name-top.gray div {background: #eee;}
#pro-order2 .name-top.gray div a {border-color: #333;color: #333;}
#pro-order2 .barcode b {display: inline-block;vertical-align: middle; padding: 7px 14px 7px 36px; cursor: pointer; border: 1px solid #fff; background: #fff url('../image/icon_02.png') no-repeat left 14px top 50%/16px auto;font-weight: normal;}
#pro-order2 .barcode b:hover {border-color:#ddd;}
#pro-order2 .table-list2 .pro {width: 30%;}
#pro-order2 .table-list2 .barcode {width: 20%;} 
#pro-order2 .table-list2 .list:last-child {border-bottom: 1px solid #ddd;}
#pro-order2 .table-list2 .list-btm {display: -webkit-box; display: -ms-flexbox; display: flex;}
#pro-order2 .table-list2 .list-btm > div {display: block;}
#pro-order2 .table-list2 .list-btm > div::after {content: '|';font-size: 12px;margin:0 5px;display: inline-block;vertical-align:top;color: #e2e2e2;}
#pro-order2 .table-list2 .list-btm > div:last-child:after {display: none;}
#pro-order2 .all-info-price {background: #eee;}
#pro-order2 .all-info-price b {font-weight: 400;}
#pro-order2 .all-info-price b,
#pro-order2 .all-info-price span {color: #cc0000;}

.pay-btn2 {text-align: center;}
.pay-btn2 button {display: inline-block;vertical-align: top;padding: 0 5px;height: 24px;background: #999;color: #fff;font-size: 12px;}
.pay-btn2 a {display: inline-block;vertical-align: top; padding: 0 5px;height: 24px;line-height: 22px; background: #eee;font-size: 12px;border: 1px solid #ddd;}




@media screen and (max-width: 1220px) {
  .wrap {padding: 0 4%;}
  .order-date .date-box { /* display: block; */ }
  .order-date .list-date {float: left;}
  .order-date .list-tab {float: left;margin-left: 20px;}
  .order-date .list-select {float: left;margin-left: 20px;}

  #pro-order2 .table-list2 .pro {width: 40%;}
  .tab-2 .table-list2 .delivery-price {display: none;}
  #pro-order2 .table-list2 .barcode {width: 20%;}
  .delivery_price_pc {display: block;}
}

@media screen and (max-width: 1020px) {
  .tab-2 .table-list2 .barcode {display: none;}
  .tab-2 .table-list2 .delivery-price {width: 20%;}
  .m_barcode {display: block;}
  .m_barcode input {width: 116px; height: 26px;border: 1px solid #ddd;}
  
  #pro-order2 .table-list2 .pro {width: 55%;}
  #pro-order2 .table-list2 .price {width: 20%;}
  #pro-order2 .table-list2 .list-btm > div {margin-right: 10px;}    

  .order-list .sub_section_tit {
    float: left;
  }
  .order-list .r_btn_area {
    position: relative;
    float: right;
  }
  .order-list .r_btn_area2 {
    position: relative;
    float: right;
    right: 10px;
  }
}

@media screen and (max-width: 960px) {
  .table-list2 .head li {font-size: 12px;}

  .orderinquiry-list-table .order_desc span.grey { display: none; }
  .orderinquiry-list-table .order_info .pc { display: none; }
}

@media screen and (max-width: 860px) {
  .order-date .list-date input {width: 100px;}
  .detail-wrap {width: 100%;}
  .tab-wrap.on {display: block;}
  .detail-price {width: 100%;margin:0 0 50px;}
  .pay-btn {padding: 0 50px;}
  .detail-tab ul li h4 {padding-top: 10px; font-size: 18px;}
  .table-list2 .head li {padding-left: 0; font-size: 13px;}
  .table-list2 .pro-info .name {font-size: 14px;}
  .table-list .delivery {text-align: center;}
}

@media screen and (max-width: 800px) {
  .table-list .delivery {text-align: right;}
  .order-date .list-date {float: none;}
  .order-date .list-tab {float: none;margin: 20px 0;}
  .order-date .list-select {float: none;margin-top: 0;}

  .detail-tab ul li p,
  .table-list2 .delivery-price.m_none {display: none !important;}
  .table-list2 .pro {width: 55%;}
  .table-list4 ul li:not(.addr) {display: block;}
  .table-list4 .list-con {margin-bottom: 10px;}
  .info-btn{ margin-left:70px;}
}

@media screen and (max-width: 600px) {
  .order-date .date-box {display: -webkit-box; display: -ms-flexbox; display: block;-webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;}


  .info-btn{ margin-left:0px;}

  .m_none {display: none !important;}
  .pc_none {display: block !important;}

  .order-list {padding-top: 60px;}
  .tti {font-size: 21px;} 
  .order-date {padding: 20px 4%;margin-bottom: 33px;}
  /* .order-date .list-date {display: none;}
  .order-date .list-tab {display: none;margin:0;} */
  .order-date .list-select {display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;}
  .order-date .list-select .select {width: 100%;font-size: 12px;}
  .order-date .list-text div span {font-size: 14px;border:none;}
  .order-date .list-text div span img {width: 50px;padding-right: 10px;}
  .list-wrap .top span {font-size: 12px;}
  .list-wrap .top span::after {margin: 0 5px;}
  .list-wrap .info-top h5 {font-size: 12px;}
  .list-wrap .info-top a {font-size: 12px;width: 80px;}

  .table-list .pro .img {width: 74px;height: 74px;}
  .table-list .list ul {display: block;}
  .table-list .list li {width: 100% !important;}
  .table-list .pro-info div,.table-list .delivery {font-size: 12px;}
  .table-list .pro-info .day i {padding: 2px 6px;}
  .table-list .pro-info .name,.table-list .pro-info .name b  {font-size: 12px;}
  .table-list .info-btn div {display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;}
  .table-list .info-btn {margin-top: 10px;}
  .table-list .info-btn .barcode_preview {width: 100%}
  .table-list .info-btn .barcode_preview ul {display: flex; flex-direction: row; width: auto; flex-wrap: wrap}
  .table-list .info-btn .barcode_preview li:last-of-type {width: 81px !important;}
  .table-list .info-btn .barcode_preview li:not(:last-of-type) {width: 91px !important;}
  .table-list .info-btn .barcode_preview li:not(:last-of-type):after {content: '/'; padding: 0 3px;}
  .table-list .list .btn-0 {width: 100%;margin: 0 3px;padding: 6px 0;}
  
  .detail-tab ul li span {width: 20px;height: 20px;}
  .detail-tab ul li h4 {font-size: 16px;}
  .table-list2 {border-top: 1px solid #ddd;}
  .table-list2 .head,.table-list2 .list-btm .list-day ul {display: none;}
  .table-list2 .head li,
  .table-list2 .list,
  .pro-icon i,
  .table-list2 .pro-info .name,
  .table-list2 .list-btm .list-day input,
  .table-list3 ul li strong,
  .check-ac .check b,
  #pro-order2 .de-btn,
  #pro-order2 .table-list3 ul li div p,
  #pro-order2 .name-top div,
  .num-select {font-size: 12px;}
  .table-list2 .pro .img {width: 72px;}
  .table-list2 .pro-info .info_pc_none {display: -webkit-box !important; display: -ms-flexbox !important; display: flex !important;}

}

@media screen and (max-width: 500px){

  .detail-tab ul li h4 {font-size: 13px;}
  .table-list2 .pro-info {padding-left:10px;}
  .table-list2 .pro .img {width: 74px;height: 74px;}
  .table-list2 .list ul {display: block;}
  .table-list2 .list .pro {width: 100%;}
  .table-list3 ul li strong {width: 100px;}
  .payment-tab ul li {height: 84px;}
  .payment-tab ul li a {font-size: 12px;}
  .check-ac {display: none;}
  .table-list2 .list-btm textarea {height: 25px;font-size: 10px;}
  #pro-order2 .table-list2 .list-btm {display: block;}
  #pro-order2 .table-list2 .list-btm > div::after {display: none;}

  }


  @media screen and (max-width: 440px){
    .sub_section_tit { padding: 35px 5px; }
    .order-date .list-date input { width: 90px; }
    .order-date .date-box { display: inline-block; }
  }
  @media screen and (max-width: 365px){
    .list-checkbox { height: 70px; }
  }
  @media screen and (max-width: 349px){
    .sub_section_tit { padding: 10px 5px; }
    .order-list .r_btn_area, .order-list .r_btn_area2 { top: 0px;}
    .order-date .list-date { margin-top: 20px; }
    .order-date .list-date input { height: 30px; font-size: 12px; width: 72px; }
    .order-date .list-date img { padding: 0px 2px; }
    .order-date .list-tab a {
      margin-right: 5px;
      width: 65px;
      height: 30px;
      line-height: 26px;
      font-size: 12px;
    }
  }