.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  &.justify-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  &.justify-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  &.justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  &.justify-space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  &.align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  &.no-gutter {
    margin: 0
  }
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}