.recipient_view_wrap { padding-bottom: 20px; }

.recipient_view_wrap .title_wrap:after { display: block; content: ' '; clear: both; }
.recipient_view_wrap .title_wrap .sub_section_tit { float: left; }
.recipient_view_wrap .title_wrap .r_btn_wrap { float: right; margin: 20px 5px; }

.c_btn {
  display: inline-block;
  color: #333;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  height: 30px;
  padding: 5px 20px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #fff;
  vertical-align: middle;
}

.c_btn:hover, .c_btn:focus {
  color: #2a6496;
}

.c_btn.primary {
  background-color: #ee8102;
  color: #fff;
  border: none;
}

.r_btn_wrap .c_btn + .c_btn { margin-left: 5px; }

.recipient_view_wrap .info_wrap { position: relative; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 15px 0; color: #666; }
.recipient_view_wrap .info_wrap .c_btn { position: absolute; top:15px; right:5px; z-index: 100; }
.recipient_view_wrap .info_wrap .col-sm-2 {max-width: 150px;}
.recipient_view_wrap .tel_btn_wrap { position: absolute; bottom: 15px; right: 5px; display:none;}
.recipient_view_wrap .tel_btn { display: inline-block; color: #333; font-size: 16px; line-height: 20px; height: 50px; padding: 15px 20px; border: 1px solid #ddd; border-radius: 3px; background-color: #fff; vertical-align: middle; }
.recipient_view_wrap .tel_btn .fa { font-size: 20px; line-height: 20px; padding-right: 5px; vertical-align: middle; }
.recipient_view_wrap .tel_btn + .tel_btn { margin-left: 5px; }

.recipient_view_wrap .sub_title_wrap {position: relative;}
.recipient_view_wrap .sub_title {font-size: 24px; font-weight: 500; line-height:50px; padding: 10px 5px; margin-top: 10px;}
.recipient_view_wrap .sub_title_desc {position: absolute; bottom: 15px; right: 5px; color: #666;}
.recipient_view_wrap .sub_title_wrap .r_btn_wrap { position: absolute; top: 20px; right: 5px; }

.recipient_view_wrap .section_wrap { border: 1px solid #ddd; border-radius: 10px; padding: 15px; }
.recipient_view_wrap .section_wrap.grey { background-color: #f5f5f5; }
.recipient_view_wrap .sub_section_wrap {  border: 1px solid #ddd; border-radius: 10px; padding: 15px; background-color: #fff; }

.recipient_view_wrap .item_wrap + .item_wrap { margin-top: 10px; }
.recipient_view_wrap .item_wrap .item_head { font-size: 16px; font-weight: 500; }
.recipient_view_wrap .item_wrap .item_body { }
.recipient_view_wrap .item_wrap .item_body a { display: inline-block; margin: 5px; padding: 5px 10px; border: 1px solid #ddd; border-radius: 3px; }

.recipient_view_wrap .memo_wrap { padding-bottom: 20px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; }
.recipient_view_wrap .memo_row { padding: 10px; border-bottom: 1px solid #ddd; }
.recipient_view_wrap .memo_row:last-child { border: none; padding-bottom: 0; }
.recipient_view_wrap .memo_row:after { display: block; content: ' '; clear: both; }
.recipient_view_wrap .memo_row .memo_body { float: left; }
.recipient_view_wrap .memo_row .memo_btn_wrap { float: right; }
.recipient_view_wrap .memo_btn_wrap .c_btn + .c_btn { margin-left: 5px; }

.recipient_view_wrap .memo_wrap .sub_section_wrap { position: relative; }
.recipient_view_wrap .memo_wrap .sub_section_wrap textarea.memo { width: 100%; padding-right: 80px; height: 80px; resize:none; border: none; background: none; }
.recipient_view_wrap .memo_wrap .sub_section_wrap .c_btn { width: 70px; position: absolute; bottom: 15px; right: 15px; }
.recipient_view_wrap .memo_wrap .sub_section_wrap .btn_cancel_memo { top: 15px; border:none; }

.recipient_view_wrap .main_btn_wrap {padding: 30px 0 10px 0; text-align: center;}
.recipient_view_wrap .main_btn_wrap a { display: inline-block; font-size: 18px; line-height: 25px; padding: 10px; text-align: center; width: 170px; color: #fff; background-color: #727272; border-radius: 8px; }
.recipient_view_wrap .main_btn_wrap a + a { margin-left: 20px; }
.recipient_view_wrap .main_btn_wrap a.primary { background-color: #ee8102; }
.recipient_view_wrap .main_btn_wrap a.secondary { background-color: #cbd411; }

.recipient_view_wrap .b_btn {
  display: inline-block; font-size: 18px; line-height: 25px; padding: 10px; text-align: center; width: 170px; color: #fff; background-color: #727272; border-radius: 8px; 
  background-color: #ee8102; 
}

.recipient_rec_wrap .info_wrap { position: relative; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 15px 0; color: #666; }
.recipient_rec_wrap .info_wrap .row { font-size: 14px; font-weight: 500; padding: 0 5px; }
.recipient_rec_wrap .info_wrap .row span { margin-left: 5px; font-weight: normal; }
.recipient_rec_wrap .info_wrap .row + .row { margin-top: 5px; }

.recipient_rec_wrap .sub_title_wrap { padding: 20px 0 10px 0; }
.recipient_rec_wrap .sub_title_wrap:after { display: block; content: ' '; clear: both; }
.recipient_rec_wrap .sub_title {float:left; font-size: 16px; font-weight: 500; line-height:20px; padding: 0 5px;}
.recipient_rec_wrap .sub_title_desc {float:right; line-height:20px; color: #666;}

.recipient_rec_wrap .table_wrap { margin-top: 10px; }
.recipient_rec_wrap .table_wrap.flex {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.recipient_rec_wrap .table_wrap:after { display: block; content: ' '; clear: both; }
.recipient_rec_wrap .table_wrap table { width: 49%; float: left; }
.recipient_rec_wrap.wide .table_wrap table { width: 100%; float:none; }
.recipient_rec_wrap .table_wrap table:last-child { float: right; }
.recipient_rec_wrap table { border-collapse: collapse; border-spacing: 0; }
.recipient_rec_wrap table th,
.recipient_rec_wrap table td { border: 1px solid #ddd; padding: 5px 10px; text-align: center; color: #666; font-weight: normal; }
.recipient_rec_wrap.wide .table_wrap table td { text-align: left; padding-left: 10px; }
.recipient_rec_wrap.wide .table_wrap table td.text-center {
  text-align: center;
}
.recipient_rec_wrap.wide .table_wrap table td input[type=radio], 
.recipient_rec_wrap.wide .table_wrap table td input[type=checkbox] {
  margin:0 5px 0 0;
}
.recipient_rec_wrap.wide .table_wrap table td input[type="text"] {
  border:1px solid #ddd;
  padding:2px 6px;
  font-size:0.8em;
}
.recipient_rec_wrap.wide .table_wrap table td label {
  margin-right: 5px;
}

.recipient_rec_wrap .table_wrap .text-left {
  text-align: left !important;
}
.recipient_rec_wrap table thead th { background-color: #e5e5e5; }
.recipient_rec_wrap table tbody th { background-color: #f8f8f8; }

.recipient_rec_wrap .textarea_head { margin: 20px 0 10px 5px; font-size: 14px; color: #666; }
.recipient_rec_wrap textarea { width: 100%; padding: 5px; margin-bottom: 10px; height: 150px; border: 1px solid #ddd; resize: vertical; }

.recipient_rec_wrap .family_wrap { padding: 10px; border: 1px solid #ddd; }
.recipient_rec_wrap .family_wrap .row { margin: 0; color: #666; }
.recipient_rec_wrap .family_wrap .row + .row { margin-top: 10px; }
.recipient_rec_wrap .family_wrap .row .head { float: left; width: 150px; }
.recipient_rec_wrap .family_wrap .row .content { float: right; width: calc(100% - 155px); }
.recipient_rec_wrap .family_wrap .row .content input { margin: 0 0 0 8px; }
.recipient_rec_wrap .family_wrap .row .content input[type="text"] { width:80px; border: 1px solid #ddd; background-color: #fff;; }
.recipient_rec_wrap .family_wrap .row .content input[type="text"][disabled] { background-color: #eee; }
.recipient_rec_wrap .family_wrap .row .content label { margin: 0; }

.recipient_rec_wrap .btn_wrap { padding: 20px 0; text-align: center; }
.recipient_rec_wrap .btn_wrap input[type="submit"],
.recipient_rec_wrap .btn_wrap a {
  display: inline-block;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #fff;
  background-color: #727272;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  vertical-align: middle;
}

.recipient_rec_wrap input[type="submit"] {
  margin-right: 10px;
  background-color: #ee8102 !important;
  width: 160px;
}

.detail-tab {margin:15px 0;}
.detail-tab ul {font-size: 0;}
.detail-tab ul li {cursor: pointer;width: 50%;position: relative; display: inline-block;vertical-align: top;background: #f3f3f3;text-align: center;}
.detail-tab ul li::after {content: '';position: absolute;right: 0;top: 10px;width: 1px;height: calc(100% - 20px);background:#ddd;}
.detail-tab ul li a {display:inline-block; width:100%;height:100%;padding: 16px 0; }
.detail-tab ul li.on::after,
.detail-tab ul li:last-child::after {display: none;}
.detail-tab ul li span {display: block;width: 40px;height:40px;margin:0 auto;background: url('/img/icon_20.png') no-repeat center/100% auto;}
.detail-tab ul li h4 {font-size: 24px;color: #999;}
.detail-tab ul li p {font-size: 14px;font-weight: 300;color: #999;}
.detail-tab ul li.on {background: #666;}
.detail-tab ul li.on span {background-image: url('/img/icon_19.png');}
.detail-tab ul li.on h4,
.detail-tab ul li.on p {color: #fff;}
.detail-tab ul li.only {
    width: 100% !important;
}

@media (max-width: 768px) {
  .recipient_view_wrap .info_wrap .row { margin-bottom: 10px; }
  .recipient_view_wrap .info_wrap .row:last-child { margin-bottom: 0; }
  .recipient_view_wrap .info_wrap .c_btn { position: static; }
  .recipient_view_wrap .tel_btn_wrap { position: static; margin-top: 20px; display:inline-block;}
  
  .recipient_view_wrap .sub_title { padding-bottom: 20px; }
  .recipient_view_wrap .sub_title_desc {left:5px; bottom: 10px;}

  .recipient_view_wrap .sub_title_wrap .r_btn_wrap { position: static; margin-top: -25px; padding-bottom: 10px; }

  .recipient_view_wrap .memo_row .memo_body { float: none; }
  .recipient_view_wrap .memo_row .memo_btn_wrap { float: none; }

  .recipient_view_wrap .main_btn_wrap a { width: auto; margin-bottom: 10px; }
  .recipient_view_wrap .main_btn_wrap a + a { margin-left: 10px; }

  .recipient_view_wrap .cart_btn_wrap { text-align: center; }
  .recipient_view_wrap .cart_btn_wrap .c_btn { width: calc(50% - 15px); font-size: 16px; line-height: 20px; height: 50px; padding: 15px 20px; }
  .recipient_view_wrap .cart_btn_wrap .c_btn + .c_btn { margin-left: 10px !important; }

  .recipient_rec_wrap .table_wrap table { width: 100%; float: none; }
  .recipient_rec_wrap .table_wrap table:last-child { float: none; margin-top: 10px; }
  .recipient_rec_wrap .table_wrap.flex {
    display:block;
  }
  .recipient_rec_wrap .table_wrap.flex table {
    width:100% !important;
    margin-bottom:10px;
  }
}