.recipient_view_wrap { padding-bottom: 20px; }

.recipient_view_wrap .title_wrap:after { display: block; content: ' '; clear: both; }
.recipient_view_wrap .title_wrap .sub_section_tit { float: left; }
.recipient_view_wrap .title_wrap .r_btn_wrap { float: right; margin: 20px 5px; }

.c_btn {
  display: inline-block;
  color: #333;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  height: 30px;
  padding: 5px 20px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #fff;
  vertical-align: middle;
}

.c_btn:hover, .c_btn:focus {
  color: #2a6496;
}

.c_btn.primary {
  background-color: #ee8102;
  color: #fff;
  border: none;
}

.r_btn_wrap .c_btn + .c_btn { margin-left: 5px; }

.recipient_view_wrap .info_wrap { position: relative; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 15px 0; color: #666; }
.recipient_view_wrap .info_wrap .c_btn { position: absolute; top:15px; right:5px; z-index: 100; }
.recipient_view_wrap .info_wrap .col-sm-2 {max-width: 150px;}

.recipient_view_wrap .sub_title_wrap {position: relative;}
.recipient_view_wrap .sub_title {font-size: 24px; font-weight: 500; line-height:50px; padding: 10px 5px; margin-top: 10px;}
.recipient_view_wrap .sub_title_desc {position: absolute; bottom: 15px; right: 5px; color: #666;}
.recipient_view_wrap .sub_title_wrap .r_btn_wrap { position: absolute; top: 20px; right: 5px; }

.recipient_view_wrap .section_wrap { border: 1px solid #ddd; border-radius: 10px; padding: 15px; }
.recipient_view_wrap .section_wrap.grey { background-color: #f5f5f5; }
.recipient_view_wrap .sub_section_wrap {  border: 1px solid #ddd; border-radius: 10px; padding: 15px; background-color: #fff; }

.recipient_view_wrap .item_wrap + .item_wrap { margin-top: 10px; }
.recipient_view_wrap .item_wrap .item_head { font-size: 16px; font-weight: 500; }
.recipient_view_wrap .item_wrap .item_body { }
.recipient_view_wrap .item_wrap .item_body a { display: inline-block; margin: 5px; padding: 5px 10px; border: 1px solid #ddd; border-radius: 3px; }

.recipient_view_wrap .memo_wrap { padding-bottom: 20px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; }
.recipient_view_wrap .memo_row { padding: 10px; border-bottom: 1px solid #ddd; }
.recipient_view_wrap .memo_row:last-child { border: none; padding-bottom: 0; }
.recipient_view_wrap .memo_row:after { display: block; content: ' '; clear: both; }
.recipient_view_wrap .memo_row .memo_body { float: left; }
.recipient_view_wrap .memo_row .memo_btn_wrap { float: right; }
.recipient_view_wrap .memo_btn_wrap .c_btn + .c_btn { margin-left: 5px; }

@media (max-width: 768px) {
  .recipient_view_wrap .info_wrap .row { margin-bottom: 10px; }
  .recipient_view_wrap .info_wrap .row:last-child { margin-bottom: 0; }
  
  .recipient_view_wrap .sub_title { padding-bottom: 20px; }
  .recipient_view_wrap .sub_title_desc {left:5px; bottom: 10px;}

  .recipient_view_wrap .sub_title_wrap .r_btn_wrap { position: initial; margin-top: -25px; padding-bottom: 10px; }
}