@charset "utf-8";
html,body{height: 100%;}


.visual{width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); display: flex; align-items: center; }

/* 하나카드 Start*/
.hanacardWrap{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto; 
}
.hanacardWrap p{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hanacardWrap p span{
  width: 600px; height: 520px;
  position: relative;
}
.hanacardWrap p span a{
  position: absolute;
  top:20px;
  right: 20px; 
  width: 32px; height: 32px;
  border-radius: 50%;
  background: #B1AFB2;
  display: flex; justify-content: center; align-items: center;
}
.hanacardWrap p span a:hover{
  background-color: #44BDD8;
  transition: background-color 0.5s, box-shadow 0.5s;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.hanacardWrap p span a:not(:hover){
  background-color: #B1AFB2;
  transition: background-color 0.5s, box-shadow 0.5s;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}

.hanacardWrap .hanacardImg{
  background-image: url(../img/hanacard_img.jpg);
  background-repeat: no-repeat;
  }

.hanacardWrap .hanacarBtn{
  width: 600px; height: 60px;
  background: linear-gradient(to right, #2FDCC9 0%, #519EE6 100%);
  transition: background-color 0.5s;
  text-align: center;
  color: #FFF;
  font-size: 26px;  font-weight: 500;
  display: flex; justify-content: center; align-items: center;   
}
.hanacardWrap .hanacarBtn img{
  width: 20px; height: 23px;
  margin: 12px 10px 10px 10px;
}

.hanacardWrap .hanacarBtn:hover{
  background: linear-gradient(45deg, #26dbc6, #4393df);
  transition: background-color 0.5s  ease infinite;
}
/* 하나카드 END */

.visalWrap{
  margin: 0 auto;
  width: 600px;height: 580px;
  background: white;  
}
.headerTitle{
  background: #111111;
  height: 40px;
  padding: 12px 30px 0px 30px;
  color:white;
  display: flex; justify-content: space-between;  
}
.headerTitle h5{
  font-weight: 400;
  font-size: 14px;
}

  .headerTitle .cancel i {
    color: white;
  }
  .headerTitle .cancel i:hover {
    color: #93D500;
  }

.contentsWrap{
  height: 500px;
  padding: 30px 30px 0px 30px;
}
/* 결제 청구서 내역 **/
.billWrap .billTitle{
  font-size: 20px;
  line-height: 40px;
}
.billListWrap{
  border: 1px solid rgba(63, 58, 58, 0.5);
  /* padding: 15px 25px; */
}
.billList{
  padding: 15px 25px;
}
.billList2{
  padding: 5px 25px 10px 25px;
  background-color: #F7F9FA;
}
.billListWrap .price{
  display: flex; justify-content: space-between;
  padding: 0px 0px 4px 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.billListWrap .price
.billListWrap .totalPrice{
  display: flex; justify-content: space-between;
}
.billListWrap .line01{
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.billListWrap .line02{
  border: 1px solid #333333;
  /* border-bottom:0px; */
}
.billListWrap .totalrice{
  display: flex; justify-content: space-between;
  padding: 3px 0px 0px 0px;
}
.billListWrap .totalrice .pTitle{
  font-weight: 500;
  font-size: 14px;
}
.billListWrap .totalrice .price{
  font-weight: 500;
  font-size: 16px;
  color: #001E9A;
}
.billListWrap .totalrice .price2{
  font-weight: 500;
  font-size: 16px;
}
.note{
  font-size: 12px;
  padding-bottom: 5px;
  line-height: 27px;
}
.txt_b{
  font-weight: bold;
}

/* 청구서 버튼들 */
.billBtnWrap{
  display: flex; justify-content: space-between;
  padding: 7px 0px 3px 0px; 
}
.billBtnWrap .btn01,
.btn02W .btn02, .btn02W .btn03{
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  color: #fff;
  padding: 6px 20px;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}
.btn02-01{
  width: 154px;
}
.billBtnWrap .btn01{
  background: #93D500;
  cursor: pointer;
}
.billBtnWrap .btn01:hover, .billBtnWrap .btn02:hover, .billBtnWrap .btn03:hover{
  background: #666;
}
.billBtnWrap .btn02W{
  display: flex; justify-content: space-between;
  gap: 10px;
  cursor: pointer;
}
.billBtnWrap .btn02{
  background: #001E9A;
}
.billBtnWrap .btn03{
  background: #333;
}

.billBtnWrapM{
  height: 30px;
}

/* 이전 결제 내역 */
.priceListWrap .listTitle{
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
}
.priceListWrap table, td, th{ 
  border-bottom: 1px solid #E6E6E6;
  font-size: 12px;
  font-weight: 400;
  padding: 7px;
  text-align: center;
}
.priceListWrap table{
  border-collapse: collapse;
  width: 100%;
  border-width: 2px 0px 0px 0px;
  border-style: solid;
  border-color: #3F3A3A;
}
.priceListWrap th{
  background-color: #F7F7F7;
  font-size: 13px;
  font-weight: 500;
}

/* 하단 확인 버튼 */
.okBtn{
  width: 100%;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  background: #001E9A;
  cursor: pointer;
}
.okBtn:hover{
  background: #666;
}

/* 결제완료 PopUp */
.paymentPop{
    margin: 0 auto;
    width: 400px; height: 220px;
    background: white;  
}
.paymentPop .content{
  height: 180px;
  text-align: center;
  padding: 15px;
}
.paymentPop .content .title{
  display: flex; justify-content: center;
  padding: 15px;
}
.paymentPop .content .title h3{
  font-weight: 500;
  font-size: 20px;
  padding: 5px 0 0 5px ;
}
.paymentPop .content span{
  font-weight: 700;
  font-size: 20px;
}
.paymentPop .content span.won{
  color:#001E9A;  
}
.st0{fill:none;stroke:#001E9A;stroke-width:1.5;stroke-miterlimit:10;
    stroke-dasharray: 44;
    stroke-dashoffset: 44;
    animation: oAni 1.3s alternate forwards;
    opacity: 0;
}
.st1{fill:none;stroke:#333333;stroke-width:1.5;stroke-miterlimit:10;
  stroke-dasharray: 119;
  stroke-dashoffset: 119;
  animation: oAni01 0.3s alternate forwards;
  opacity: 0;
}
@keyframes oAni{
  100%{
      opacity: 1;
      stroke-dashoffset: 0;
  }
}
@keyframes oAni01{
  100%{
      opacity: 1;
      stroke-dashoffset: 0;
  }
}

a.thkc_btnManual{
  border-radius: 5px;
  border: 1px solid #FF9013;
  color: #FF6B00;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.49px;
  height: 30px;
  display: inline-flex;
  padding: 0px 15px;
  justify-content: center;
  align-items: center; 
  margin: 0 0 0 15px;   
  float: right;
}
a.thkc_btnManual:hover{
  background: rgba(255, 144, 19, 0.10);
}