@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);


* { margin: 0; padding: 0; box-sizing: border-box;}
br {font-family: 'sans-serif';}
body { word-break: break-word; color: #333; background-color: #fff;font-family: 'Nanum Gothic', sans-serif;}
body.on { overflow: hidden;}
a { text-decoration: none; color: #333;}
ul, li, ol {list-style: none;}
img { vertical-align: middle; max-width: 100%;}
br {font-family: sans-serif !important;}
.wrap { max-width: 1400px;width:100%; margin: 0 auto;}
button { cursor: pointer; padding: 0;}
button, input, textarea { border: none; background:transparent;font-family: 'Nanum Gothic', sans-serif;}
button, :focus, :active { outline: 0;}
button span, button img { position: relative;}
table {border-collapse: collapse;}
.hidden { text-indent: -99999px; overflow: hidden; font-size: 0; display: none;}
.cb:after { clear: both; display: block; content: '';}

.stock-form {
    display: flex;
    align-content: space-between;
    width: 100%;
}
/* 검색폼 */
.search-box {
    flex:1;
    font-size: 0;
    text-align: left;
    padding-bottom:10px;
} 
.search-box select {margin-right:6px;display: inline-block;vertical-align: top;width:97px;height:30px;border:1px solid #d7d7d7;border-radius: 6px;font-size: 14px;}
.search-box .input-search {display: inline-block;vertical-align: top; width:176px;height:30px;overflow: hidden;position: relative;border: 1px solid #d7d7d7;border-radius: 6px;}
.search-box .input-search input {width: calc(100% - 30px); height: 28px;font-size: 14px;border:0;padding:0 5px;}
.search-box .input-search button {position: absolute;top:0;right:0;z-index:1;width: 30px;height: 30px;background: url('/img/search_icon.png') no-repeat center top 50%/12px auto;}
.right-box {
    flex:1;
    text-align: right;
}
.right-box input[type="checkbox"] {
    margin: 0;
    vertical-align: middle;
}
.right-box label {
    vertical-align: middle;
    margin: 0;
}
.right-box select {
    border: 1px solid #ddd;
    color: #494949;
    padding: 3px 5px;
    vertical-align: middle;
    margin-left: 5px;
}
/* 페이징 */
.pg-wrap {margin: 20px 0 0;}
.pg-wrap div {text-align: center;font-size: 0;}
.pg-wrap div a {display: inline-block;padding: 0 13px; vertical-align: middle;font-size: 14px;color:#999;}
.pg-wrap div a.on {color:#333}
/* 팝업 */
.popup01 {display: none; position: fixed; padding-bottom: 40px; z-index: 9999; left: 50%; top:50%; -webkit-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); transform: translate(-50%,-50%);box-shadow: 5px 5px 5px rgb(0 0 0 / 30%); overflow: hidden;background: #fff; border-radius: 5px; border:1px solid #d7d7d7;}
.popup01 .p-inner {position: relative;padding:20px;}
.popup01 .p-inner .cls-btn {position: absolute;top: 20px;right: 20px;z-index: 2;width: 24px;height: 24px;}
.popup01 .p-inner .popup-btn {width: 200px;margin: 0 auto;font-size: 0;}
.popup01 .p-inner .popup-btn button {display: inline-block; width: calc(50% - 6px);padding:10px 0; background: #ee8102;font-size: 14px;color: #fff;}
.popup01 .p-inner .popup-btn button:nth-of-type(2) {background: #666;margin-left: 6px;}
.popup01 .p-inner ul {width: auto !important; padding: 46px 20px 33px;}
.popup01 .p-inner ul li {padding: 0; position: relative;display: -webkit-box; display: -ms-flexbox; display: flex;margin-bottom: 13px;text-align: left; -webkit-box-align: center;-ms-flex-align: center; align-items: center;}
.popup01 .p-inner ul li b {display: block;margin-right: 20px; width: 70px;font-size: 14px;}
.popup01 .p-inner ul li .input-box {position: relative; width: 186px; height: 40px; border: 1px solid #d7d7d7;border-radius: 6px;}
.popup01 .p-inner ul li .input-box input {width: 100%; height: 100%;padding: 0 20px 0 5px; }
.popup01 .p-inner ul li button {position: absolute; right: 10px; top: 50%;margin-top:-8px;width: 16px;height: 16px;z-index: 2;}
.popup01 .p-inner ul .file-list .input-box {width: 138px;}
.popup01 .p-inner ul .file-list .inputFile {width: 40px; height: 40px; position: absolute;right: 0;top: 0; border-radius: 6px;overflow:hidden;}
.popup01 .p-inner ul .file-list .inputFile label {display: block; width: 40px; height: 40px; background: #999 url('../img/icon_10.png') no-repeat center top 50%/36px auto;}
.popup01 .p-inner ul .file-list input.fileHidden {display: none;}
.popup01 .table-box {margin: 0 auto; overflow-y: hidden;overflow-x: auto;padding: 0 25px;max-width: 400px;}
.popup01 .table-box .tti { margin:24px 0 11px; display: -webkit-box; display: -ms-flexbox; display: flex;  -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;}
.popup01 .table-box .tti span {padding-left: 24px; padding-top:10px; background: url('../img/icon_02.png') no-repeat left top 12px;}
.popup01 .table-box table {width: 350px;text-align: center;}
.popup01 .table-box table th {border-top:2px solid #ddd;border-bottom:1px solid #ddd;}
.popup01 .table-box table th ,.popup01 .table-box table td {padding: 10px 0; font-size: 14px;}
.popup01 .table-box table td a {display: inline-block; padding: 4px 0;width: 80px;border: 1px solid #ddd;border-radius: 6px;}
.popup01 .table-box table td a:hover {border-color:#ee8102;color: #ee8102;}
.popup01.popup2 .p-inner ul li b {width: 120px;}
.popup01 .pop_tit{padding: 20px; background: #eee; font-size: 24px;}
.popup01 .label_confirm { display: block; color: #000; font-weight: bold; }
.popup01 .label_confirm .chk_confirm { vertical-align: top; margin-right: 5px; }
.popup01 .sell_desc { color: #999; margin: 20px 0; }
.popup01 .rent_wrap { border-bottom: 1px solid #ccc; padding-bottom: 20px; font-weight: bold; line-height: 40px; }
.popup01 .rent_wrap:after { display: table; content: ''; clear: both; }
.popup01 .rent_wrap button { float: right; display: block; width: 90px; height: 40px; padding: 10px 0; background: #ee8102;font-size: 14px;color: #fff; line-height: 1; }

/* #stock {margin-top: 74px;} */
#stock h2 {padding-bottom:16px;font-size: 24px;text-align: left;font-weight:bold;}
/* 재고 탭 */
.stock-tab {clear:both; display: -webkit-box; display: -ms-flexbox; display: flex;margin-bottom: 45px;}
.stock-tab li {-webkit-box-flex: 1; -ms-flex: 1; flex-grow: 1; border: 1px solid #ddd;}
.stock-tab li.active {border-bottom:4px solid #ee8102;}
.stock-tab li:nth-child(even) {border-left: none;}
.stock-tab li a {display: block;padding:20px 0;text-align: center;}
.stock-tab li a i {font-style: normal;font-size:14px;}
/* 재고리스트 */
.table-wrap li {padding: 16px 0;}
.table-wrap li span {float: left;display: block;font-size:14px;text-align: center;}
.table-wrap li .num {width: 10%;}
.stock-list .table-wrap li .product {width: 24%;margin-left:6%; overflow: hidden;text-align: center;}
.stock-list .table-wrap li .product img{width:100%; height:100%;}
.table-wrap li .pro-num {width: 20%;}
.table-wrap li .stock {width: 10%;font-weight: 600;}
.table-wrap li .order {width: 10%;}
.table-wrap li .price {width: 14%;}
.table-wrap li .product {width: 43%;}
.table-wrap li .del {width: 10%;}

.table-wrap .head {background: #eee;}
.table-wrap .list {display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;border-bottom: 1px solid #d7d7d7;}
.table-wrap .list .info {display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.table-wrap .list .info .img {width: 100px;height: 100px;margin-right:20px;border:1px solid #d7d7d7;}
.table-wrap .list .info .img img {vertical-align: top;}
.table-wrap .list .info .text i {padding-bottom: 10px; display: block;font-style: normal;font-size:14px;color: #999;}
.table-wrap .list .info .text p {font-size:16px;}
/* 모바일용 */
.table-wrap .list .info .info-02,
.table-wrap .list .info-m {display: none;}

.table-wrap li.head div {display: none;}

/* 재고상세 */
.list-more {text-align: right; width:130px; float:right; }
.list-more + .list-more { margin-right: 10px; }
.list-more a {padding: 9px 0; width:100%; text-align:center; display:inline-block;font-size: 14px;color:#232323; border: 1px solid #ddd; background-color: #fff;}
.stock-view {display: -webkit-box; display: -ms-flexbox; display: flex;}
.stock-view .inner {width: calc(100% - 261px); position: relative;}
.stock-view .inner .row {margin: 0 !important; position: absolute; top:-52px; right:0; width: 100%;}
.stock-view .info-list {padding:20px 0;}
.stock-view .info-list li {padding: 0 0 7px;}
.stock-view .info-list span {display: inline-block;vertical-align: top;font-size: 14px;font-weight: 600;}
.stock-view .info-list span:nth-of-type(odd) {width: 77px; font-weight: 500;}
.stock-view .info-btn {font-size: 0;}
.stock-view .info-btn a {display: inline-block;vertical-align: top;height: 34px;line-height:34px;text-align:center;font-size: 14px;font-weight: 600;color: #fff;}
.stock-view .info-btn .btn-01 {background: #000;width: calc(70% - 10px);margin-right: 6px;}
.stock-view .info-btn .btn-02 {background: #999;width: 30%;}
.stock-view .info-btn p {padding:10px 0 0;text-align:left;font-size: 14px;color: #666;}

.stock-view .inner .tit_area{display:inline-block;width:100%;}


.product-view {padding: 0 20px 0 0;}
.product-view .pro-image {width: 261px;height: 261px;border: 1px solid #d7d7d7; overflow: hidden;text-align: center;}
.product-view .pro-image img {width:100%; height:100%;}

.stock-view .table-wrap li .num {width: 12%;}
.stock-view .table-wrap li .date {width: 15%;}
.stock-view .table-wrap li .order {width: 18%;}
.stock-view .table-wrap.table-wrap2 li .product {width: 30%;}
.stock-view .table-wrap.table-wrap2 .name {width: 10%;}
.stock-view .table-wrap.table-wrap2 .check {width: 12%;}

.stock-view .table-wrap.table-wrap2 {margin-top: 120px;}
.stock-view .table-wrap .tit_area{display:inline-block;width:100%;}
.stock-view .table-wrap .tit_area h3 {padding: 10px 0; font-size: 16px;color: #232323;margin-top: 0px;float:left;}
.stock-view .table-wrap .tit_area .search-box {float: right;padding:10px 0;}
.stock-view .table-wrap li .order a {padding:5px 11px 5px 30px; display: inline-block;border: 1px solid #ddd;border-radius: 6px; background: url('../img/icon_01.png') no-repeat left 11px top 50%/11px auto;}
.stock-view .table-wrap li .order2 a {padding:5px 10px 5px 10px; display: inline-block;border: 1px solid #ddd;border-radius: 6px; }
.stock-view .table-wrap li .check a {padding:5px 11px 5px 30px; display: inline-block;border: 1px solid #ddd;border-radius: 6px; background: url('../img/icon_03.png') no-repeat left 11px top 50%/11px auto;}
.stock-view .table-wrap li .pro-num b {display: inline-block;vertical-align: middle; padding: 7px 14px 7px 20px; cursor: pointer; border: 1px solid #fff; background: #fff url('../img/icon_02.png') no-repeat left -2px top 50%/16px auto;font-weight: normal;}
.stock-view .table-wrap li .pro-num b:hover {border-color:#ddd;}
.stock-view .table-wrap .list.bg .pro-num b {border-color: #ddd;}

/* 불용재고 상세 */
.stock-view.view2 .table-wrap li .product {width: 25%;}
.stock-view.view2 .table-wrap li .pro-num { width: 20%;}
.stock-view.view2 .table-wrap li .state { width: 18%;}
.stock-view.view2 .table-wrap li .none { width: 12%;}
.stock-view.view2 .table-wrap.table-wrap2 li .pro-num { width: 34%;}
.stock-view.view2 .table-wrap.table-wrap2 li .product { width: 25%;}
.stock-view.view2 .table-wrap.table-wrap2 li .none { width: 18%;}
.stock-view.view2 .table-wrap2 h3 > i {font-style: normal;font-size: 16px;font-weight: 500;}
.bg {background: #f7f8e4;}
.text01 {font-size: 14px;text-align: right;}
.text01::before {content: '';margin-right: 10px; display: inline-block;vertical-align: middle;width: 20px;height: 20px;background: #f7f8e4;}
.text02 {display: block;margin: 24px 0 0; font-style: normal; font-size: 14px;color: #ee8102;}

.stock-view.view2 .table-wrap .list .state {display: -webkit-box; display: -ms-flexbox; display: flex;text-align: left; -webkit-box-align: center;-ms-flex-align: center; align-items: center;-webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;}
.stock-view.view2 .table-wrap .list .none {display: -webkit-box; display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center; align-items: center;}
.stock-view.view2 .table-wrap .list .state b{font-weight: normal}
.stock-view.view2 .table-wrap .list .state b i {font-style: normal;display: block;}
.stock-view.view2 .table-wrap.table-wrap2 .list .none {-webkit-box-pack: center; -ms-flex-pack: center;justify-content: center;}
.state-btn1 { padding:5px;background:#666;color: #fff;font-size: 14px;}
.state-btn2 {cursor: pointer; position: relative;margin:0 12px;}
.state-btn2 ul {display: none; position: absolute;top: 33px;right: 0; width: 120px !important;overflow-y: auto; padding: 5px;background: #fff;z-index: 2;border: 1px solid #ddd;}
.state-btn2 ul.on {display: block;}
.state-btn2 ul li {border-bottom: 1px solid #ddd;font-size: 12px; padding: 5px 0;}
.state-btn2 ul li:last-child{border-bottom: 0px}

.stock-list {
    position: relative;
}
.stock-list .r_btn_area {
    position: absolute;
    right: 0;
    top: 20px;
}

#add_sales_inventory_popup {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index:9999;
    background: rgba(0, 0, 0, 0.8);
}
#add_sales_inventory_popup_iframe {
    width:500px;
    height:700px;
    max-height: 80%;
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
}
.add_sales_inventory_popup_close {
    position:absolute;
    top:15px;
    right: 15px;
    color: white;
    font-size: 2.5em;
    cursor:pointer;
}

@media screen and (max-width: 1220px){
    /* .wrap {padding: 0 4%;} */
}
@media screen and (max-width: 1020px){
    /* 재고상세 */
    .stock-view .inner {width: calc(100% - 150px);}
    .product-view {padding:0 20px 0 0;}
    .product-view .pro-image {width: 150px;height: 150px;}
    .stock-view .info-btn a {display: block;}
    .stock-view .info-btn .btn-01 {margin: 0 0 10px;}
    .table-wrap li span {font-size:13px;}
    .stock-view .info-btn .btn-01 {width: 160px;}
    .stock-view .info-btn .btn-02 {width: 160px;}

    .stock-list .sub_section_tit {
        float: left;
    }
    .stock-list .r_btn_area {
        position: relative;
        float: right;
    }
    
    #add_sales_inventory_popup_iframe {
        width: 100%;
        height: 90%;
        max-height:100%;
        transform: none;
        top: auto;
        left: 0px;
        bottom:0px;
    }
}
@media screen and (max-width: 820px){
  .stock-view .inner .row { top:0; }
	.stock-view .table-wrap .tit_area h3{width:100%;padding:14px; }
	.stock-view .table-wrap h3{font-size:16px;}
	.stock-view .table-wrap .tit_area .search-box{width:100%;}
	.search-box .input-search{width: calc( 100% - 105px);}
    .stock-list .table-wrap li .order {
        margin-left: 0 !important;
        width: auto;
    }
    .stock-list .table-wrap li .product {width: 40%;}
    .stock-list .table-wrap .list .info .img {
        display: -webkit-box; 
        display: -ms-flexbox; 
        display: flex;
        width: 76px;
        height: 76px;
    }
    .table-wrap .list .info .img {
        margin-right: 5px;
    }
    .stock-list .table-wrap li .product {
        margin-left:2px;
    }
    .table-wrap li .num {
        width:7%;
    }

    /* 재고상세 */
    .stock-view .inner {width: 100%;overflow: hidden;}
    .stock-view .table-wrap {-ms-overflow-style: none; scrollbar-width: none;}
    .stock-view .table-wrap::-webkit-scrollbar {display: none;}
    .stock-view .table-wrap ul {width: 100%;}

    .stock-view {
        flex-wrap: wrap;
    }
    .stock-view .product-view {
        padding:0;
        width:100%;
        display:flex;
        justify-content: space-between;
        margin-top: 20px;
    }
    .stock-view .product-view .pro-image{
        width: 250px;
        height: 250px;
    }
    .stock-view .product-view .info-list {
        padding-left: 10px;
        width:calc(100% - 280px);
        /*padding: 0;*/
    }

    .stock-view .info-btn .info-btn-area {
        display: flex;
        justify-content: space-between;
    }
    .stock-view .info-btn .info-btn-area a {
        width: 48%;
        padding: 0;
        margin:0;
    }

    .stock-view .inner {
        margin-top:20px;
    }

    .stock-view .info-list li {
        padding-bottom:20px;
    }
    .stock-view .info-btn p {
        padding-top:20px 0 0 0;
        margin:0;
    }
}
/* @media screen and (max-width: 650px){
    재고상세
    .stock-view {display: block;}
    .product-view {display: -webkit-box; display: -ms-flexbox; display: flex;margin-bottom: 20px;}
    .stock-view .info-list {width: calc(100% - 150px);padding: 0 13px;}
    .stock-view .info-btn .btn-01 {display:inline-block; width: 65%;margin-right: 6px;}
    .stock-view .info-btn .btn-02 {display:inline-block; width: 32%;}
} */
@media screen and (max-width: 650px){
    .list-more + .list-more { margin: 0; }
    .m_off {display: none !important;}
    .stock-tab {
        margin-bottom: 10px;
    }
    .stock-form {
        display: inline-block;
        align-content: space-between;
        width: 100%;
    }

    .pg-wrap {margin: 20px 0 0;}
    .popup01 {width: 96%;}
    .popup01 .p-inner {text-align: center;}
    .popup01 .p-inner ul {display: inline-block;}
    
    #stock-list h2 {padding-bottom: 26px; font-size:21px;}
    #stock h2 {
        font-size: 18px;
        font-weight:bold;
        padding-left: 20px;
        margin: 0;
        padding-top: 16px;
        padding-bottom: 20px;
    }
    .popup01 .table-box table {
        width: 100%;
    }
    /*.table-wrap .head {display: none;}*/
    .table-wrap li {padding: 16px 0px;}
    .stock-tab li a {padding: 14px 0;}
    .stock-list .table-wrap li .product {width: 100%;}
    .table-wrap .list {-webkit-box-align: flex-start;-ms-flex-align: flex-start;align-items:flex-start;}
    .table-wrap .list .info .text {flex-direction:column; text-align: left;width:70%;}
    .table-wrap .list .info .text i{padding-bottom: 0;  display: block; vertical-align: top; }
    .table-wrap .list .info .text p {display: inline-block; vertical-align: top; font-size: 14px;margin-bottom:0;}
    .table-wrap li .pro-num,
    .table-wrap li .stock,
    .table-wrap li .price {display: block;vertical-align: top;}
    
    .table-wrap li .product, 
    .table-wrap li .date { text-align: left; }

    .stock-list .table-wrap li.head .product {width: 20%; padding: 0px 20px;}


    .table-wrap li.head div { float: left; display: block;}
    
    .table-wrap li.head div.divinfo01 { width: 50%; }
    .table-wrap li.head div.divinfo02 { width: 20%; }

    .table-wrap li.head div p { text-align: left; padding: 0; margin: -5px; font-size: 12px;}


    .table-wrap .list .info .info-02 {
        /*
        padding-top: 5px;
        display: -webkit-box; 
        display: -ms-flexbox; 
        display: flex; 
        -webkit-box-pack: justify; 
        -ms-flex-pack: justify; 
        justify-content: space-between;
        */
        display:flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .table-wrap .list .info .info-02 span {
        width:50%;
    }
    .table-wrap .list .info .info-02 span:nth-child(2n) {
        text-align: right;
    }
    .table-wrap .list .info .info-02 span:nth-child(odd) {
        text-align: left;
    }
    /*
    .table-wrap .list .info .info-02 span:nth-child(1){width:100%;text-align: left;}
    .table-wrap .list .info .info-02 span:nth-child(2){margin-left:0px;}
    .table-wrap .list .info .info-02 span:nth-child(3){margin-left:0px;}
    */
    /* 재고상세 */
    .list-more {margin: 0 0 20px;}
    .stock-view .table-wrap h3 {padding: 14px;background:#eee;}
    .stock-view .table-wrap .list .list-m {width: 100%;}
    .stock-view .table-wrap .list .info-m {margin-bottom: 2px; width: 100%;display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
    .stock-view .table-wrap .list .info-m span {float: none;width: auto;}
    .stock-view .table-wrap.table-wrap2{margin-top: 90px;}
    .stock-view .table-wrap.table-wrap2 .list {position: relative;padding-top: 40px;}
    .stock-view .table-wrap.table-wrap2 .list .info-m span {width: 50%;text-align: left;}
    .stock-view .table-wrap.table-wrap2 .check {position: absolute;right: 10px;}
    .stock-view .table-wrap.table-wrap2 li .date {padding-left: 14px;}
    .stock-view .table-wrap li .check a {padding: 5px 5px 5px 24px; background-position: left 8px top 50%;}
    .stock-view .table-wrap li .num {padding-top: 8px;}
    .stock-view .inner {width: 100%;}
    /* .stock-view .table-wrap {overflow-y: hidden;overflow-x:hidden;} */
    .stock-view .table-wrap ul {width: auto;}

    .stock-view.view2 .table-wrap .date {display: none;}
    .stock-view.view2 .table-wrap.table-wrap2 .list .none {width: 100%; justify-content: flex-end;}
    .state-btn2 ul {top: 0;right: 30px;}
    .state-btn1 {padding: 5px 20px;}
    .text01 {margin-bottom: 6px;text-align: right;}
    .text02 {margin: 20px 0 0;}

    .stock-view .info-btn .btn-01 {display:inline-block; width: 60%;font-size: 12px;}
    .stock-view .info-btn .btn-02 {display:inline-block; width: 32%;font-size: 11px;}
    /* .product-view .pro-image img{width:74px;} */

    .stock-view .product-view .info-list {
        width: calc(100% - 140px);
    }


    .stock-view .table-wrap.table-wrap li .pro-num { width:40%; }

    .stock-view .table-wrap.table-wrap2 li .product { width:40%; }
    .stock-view .table-wrap.table-wrap2 li .pro-num { width:30%; }
    .stock-view .table-wrap.table-wrap2 .name { width: 40%; text-align: left; }
    .stock-view .table-wrap.table-wrap2 .date { width: 27%; text-align: center; } 

}

@media screen and (max-width: 440px){ 
    .stock-view .info-list {width: calc(100% - 100px);padding: 0 13px;}
    .product-view .pro-image {width: 100px;height:100px;}
    .stock-view .info-list span:nth-of-type(odd) {
        width: 53px;
    }
    .stock-view .info-list span {font-size: 11px;}
    /* .stock-view .info-btn a {width: 100% !important;font-size: 13px;} */
    .stock-view .info-btn .btn-01 {display:inline-block; width: 60%;}
    .stock-view .info-btn .btn-02 {display:inline-block; width: 32%;}
    .table-wrap .list .info .text i{width:100px;}

    .stock-view .info-list li {
        padding:0;
    }

    .stock-view .product-view .pro-image{
        width: 130px;
        height: 130px;
    }
    
    .stock-view .product-view .info-list {
        width:calc(100% - 140px);
    }

    .stock-view.view2 .table-wrap2 h3 > i {
        font-size:0.9em;
    }
    
    .stock-view .info-btn p {
        padding:0;
        margin:0;
    }
}


