@charset "utf-8";

/* =================================================
	* Common
================================================= */
/* html{background:#f4f4f4;} */
body{background:#fff;font-family:'Nanum Gothic', sans-serif;font-size:14px;color:#333;position:relative;}
body.scroll-fixed{overflow:hidden;}
.blind{position:absolute;overflow:hidden;clip:rect(0 0 0 0);margin:-1px;width:1px;height:1px;}
.fr{float:right;}
.fl{float:left;}
.fn{float:none;}
.bold{font-weight:bold;}
.tl{text-align:left !important;}
.tc{text-align:center !important;}
.tr{text-align:right !important;}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
button{outline:none;}
input,textarea,select,button{font-family:'Nanum Gothic', sans-serif;}
*{word-break:keep-all;word-wrap: break-word;box-sizing:border-box;-webkit-overflow-scrolling:touch;outline:none;}

pre{white-space: pre-wrap;}

.hidden{display:none;}
.txt_center{text-align:center;}
.txt_s{font-size:11px;line-height:12px;}
.gap{width:100%;display:inline-block;height: 50px;}

.store-detail{position:relative;margin-bottom: 300px;}
.slick-slide img{width:100%;}
.slick-dots{padding:10px 0;font-size:0;text-align:center;}
.slick-dots li{display:inline-block;width:7px;height:7px;background:#cbcbcb;border-radius:7px;text-indent:-9999em;}
.slick-dots li + li{margin-left:3px;}
.slick-dots li.slick-active{background:#333;}
.slick-dots li button{text-indent:-9999em;}

.container_wrap_wide{width:100%;position: relative;}
.container_wrap_wide:after{content:"";display:block;clear:both;}
.container_wrap{width:100%;max-width: 1400px;padding:0 20px 20px;margin:0 auto;position: relative;}
.container_wrap:after{content:"";display:block;clear:both;}

.top_common_wrap{background: #fff;position:relative;width:100%;z-index: 10;}
.top_common_area{width:100%;max-width: 1400px;padding:0 20px 20px;margin:0 auto;position: relative;}


.top_center_area {width:100%;display: inline-block;position:relative;}
.top_center_area .top_logo{display: inline-block;float: left}
.top_center_area .top_logo img{width:130px;}
.top_center_area .search {border: 1px solid #ddd;margin:10px auto;width:300px;}
.top_center_area .search input{display:inline-block;font-size:12px;border:0;padding:10px;width:240px;}
.top_center_area .search input::placeholder {color:#ccc;}
.top_center_area .search a{display:inline-block;top:5px;float:right;padding: 8px;}
.top_center_area .search a img{width:20px;}
.top_center_area  .cs_tel{position:absolute;right:10px;top:10px;}
.top_center_area  .cs_tel img{float:left;display:inline-block;width:40px;}
.top_center_area  .cs_tel .cs_info{display:inline-block;padding: 3px 10px;}
.top_center_area  .cs_tel .cs_info p:first-child{font-size:14px;font-weight:bold;color:#333;}
.top_center_area  .cs_tel .cs_info p:last-child{font-size:12px;color:#999;}
.top_left_area{float: left}
.top_left_area .link_area{height: 60px;padding: 15px 10px 15px 0;line-height: 26px;color:#999;}
.top_left_area .link_area a>img{margin-right:5px;float: left;font-size:11px;}
.top_left_area .link_area ul>li{float: left;padding: 0 10px;}
.top_left_area .link_area ul>li:first-child{padding:0 10px 0 0}
.top_left_area .link_area ul>li:last-child{border-right:0;border-left:1px solid #ddd;}
.top_left_area .link_area select{border:0;color:#999;}
.top_left_area .banner {padding:10px;}
.top_right_area{float:right;}
.top_right_area .link_area{height: 60px;padding: 15px 10px;line-height: 26px;color:#999;}
.top_right_area .link_area a{float: left;padding: 0 20px;border-right:1px solid #ddd;}
.top_right_area .link_area a:last-child{border-right:0;}


.top_menu_wrap{width:100%;position:relative;display:inline-block;border-top:1px solid #ddd;border-bottom:1px solid #ddd;background: #fff;z-index: 20;}
.top_menu_wrap .menu_wrap {width:100%;max-width: 1400px;padding:0 20px; margin:0 auto;position: relative;}
.top_menu_wrap .menu_wrap .menu{position:relative;float: left;width:200px;height: 40px;padding: 5px;}
.top_menu_wrap .menu_wrap .menu button{padding: 0;line-height:30px;}
.top_menu_wrap .menu_wrap .menu .icon_menu{width:30px;float: left;margin-right:10px;}
.top_menu_wrap .menu_wrap .menu .icon{width:24px;position:absolute;top:8px;right:10px;}
.top_menu_wrap .main_menu{width:calc(100% - 200px);float: right;height: 40px;}
.top_menu_wrap .main_menu a{display:inline-block;line-height:40px;padding:0 25px;font-weight:bold;}
.top_menu_wrap .main_menu a:last-child{color:#ff600a}
.top_menu_wrap .all_menu_wrap{width:100%;background: rgba(0,0,0,0.8);position:absolute;top:46px;;left:0;z-index:-1;opacity:0;}
.top_menu_wrap .all_menu_wrap .all_menu{width:100%;max-width: 1400px;padding-left:20px; margin:0 auto;position: relative;}
.top_menu_wrap .all_menu_wrap .all_menu table{width:100%;}
.top_menu_wrap .all_menu_wrap .all_menu table td{width:20%;border-bottom:1px solid #555;padding:20px;border-left:1px solid #555;}
.top_menu_wrap .all_menu_wrap .all_menu table td:last-child{border-right:1px solid #555;}
.top_menu_wrap .all_menu_wrap .all_menu table td .tit{color:#ffad63;font-size:14px;font-weight:bold;margin-bottom:10px;}
.top_menu_wrap .all_menu_wrap .all_menu table td a{color:#fff;display:inline-block;width:100%;padding:3px 0;font-size:12px;}

.btn_top_scroll {position:fixed;bottom:20px;right:20px;z-index:100;opacity:0;}
.btn_top_scroll a{cursor: pointer;}

.scroll_top{display:inline-block;width: 100%;z-index: 10;position:fixed;background: #fff;top:-100px;left:0; height: 92px;}
.scroll_top .scroll_top_menu .scroll_top_menu_wrap{width:100%;max-width: 1400px;padding-left:20px; margin:0 auto;position: relative;}
.scroll_top .scroll_top_menu{height: 50px;}
.scroll_top .scroll_top_menu img{height: 40px;top:10px}
.scroll_top .scroll_top_menu .menu_area{float: right;margin-top:15px;}
.scroll_top .scroll_top_menu .menu_area a{float: left;padding: 0 20px;border-right:1px solid #ddd;color:#999;}
.scroll_top .scroll_top_menu .menu_area a:last-child{border-right:0;}

.good_wrap {border-bottom:1px solid #ddd;display:inline-block;padding: 20px 0;}
.good_wrap li{width:calc(100% / 3 - 20px);margin-right:30px;float: left;}
.good_wrap li:nth-child(3n){margin-right:0;}
.good_wrap li .img_area{width:100%;overflow: hidden;}
.good_wrap li .img_area img{width:440px;}
.good_wrap li p{text-align:center;}
.good_wrap li p:nth-child(2){font-weight:bold;padding:10px 0;font-size:18px; color:#333;}
.good_wrap li p:last-child{margin-bottom:40px;color:#999;}


.right_menu_area{position:fixed;width:180px;height: 100%;border-left:1px solid #ddd;bottom:0;right:0;background: #fff;z-index: 5;padding:190px 20px 0;}
.right_menu_area .right_menu_toggle {position:absolute;top:50%;left:-31px;width:30px;background: #000;color:#fff;font-weight:bold;display:inline-block;padding:30px 10px;border-radius: 5px 0 0 5px;}
.right_menu_area .quick_menu ul>li{position:relative;border-bottom:1px solid #ddd;padding:5px 0;}
.right_menu_area .quick_menu ul>li:last-child{border-bottom:0;}
.right_menu_area .quick_menu ul>li a{display:inline-block;padding:5px 30px;width:100%;font-size:11px;color:#999;}
.right_menu_area .quick_menu ul>li a:hover{color:#333;}
.right_menu_area .quick_menu ul>li a img{position:absolute;left:3px ;top:5px;}
.right_menu_area .info{margin:10px 0;padding: 5px;}
.right_menu_area .info p:first-child{font-weight:bold;color:#999;font-size:11px;margin-bottom: 5px;}
.right_menu_area .info p:nth-child(2){color:#333;font-size:11px;font-weight:bold;line-height:20px;}
.right_menu_area .info .slick{border:1px solid #ddd;height: 130px;}
.right_menu_area .talk_area {margin:10px 0;}
.right_menu_area .talk_area a{padding:8px 10px 8px 35px;font-size:11px;border: 1px solid #ddd;display:inline-block;width:100%;position:relative;margin-bottom:5px;}
.right_menu_area .talk_area a:hover{border: 1px solid #aaa;color:#333;}
.right_menu_area .talk_area a img{position:absolute;left:5px;top:5px;}
.right_menu_area .sns_link{text-align:center;margin:10px 0;}
.right_menu_area .sns_link a{margin-right:3px;}

@media only screen and (max-width:1600px) {

	.right_menu_area{display:none;}
}


.footer_area{width:100%;max-width:1400px;padding:20px 10px;margin:0 auto 150px;border-top:1px solid #ddd;}
.footer_area .logo{float: left;margin-right:20px;}
.footer_area .info{float: left;padding:10px 20px;}
.footer_area .info p{margin-bottom:20px;}
.footer_area .info .link a{padding:5px 10px;}
.footer_area .info .link a strong{font-weight:bold;}
.footer_area .info .link a:first-child{padding-left:0;}
.footer_area .info .desc{font-size:11px; color:#999;}
.footer_area .sign{float: right;}

.footer_info{padding:20px;border-top:1px solid #ddd;}
.footer_info ul:after{content:"";display:block;clear:both;}
.footer_info ul>li{float: left;padding:10px 20px;color:#999;width:20%;border-right:1px solid #ddd;}
.footer_info ul>li:nth-child(2){width:40%;position:relative;}
.footer_info ul>li:nth-child(2) .company_info{width:50%;float:right;top:50px;position:absolute;top:40px;right:20px;}
.footer_info ul>li:last-child{border-right:0;}
.footer_info ul>li .subtit{font-size:14px;color:#333;font-weight:bold;margin-bottom: 10px;}
.footer_info ul>li .point_txt{font-size:18px;font-weight:bold;color:#ff6701;}
.footer_info ul>li a{display:inline-block;width:100%;border:1px solid #ddd;text-align:left;padding:10px;position:relative;font-weight:bold;margin-bottom:5px;font-size:11px;}
.footer_info ul>li a:hover{border:1px solid #aaa;color:#666;}
.footer_info ul>li a img{position:absolute;right:10px;top:8px;}


.item_list_wrap{margin:20px 0;    display: inline-block;}
.item_list_wrap .item_one{float:left;width:calc(100% / 5 - 12px);margin-right:15px;margin-bottom:15px;position:relative;}
.item_list_wrap .item_one:last-child{margin-right:0;}
.item_list_wrap .item_one .item_tag{padding:2px 5px;float: left;margin-right:5px;font-size:11px;}
.item_list_wrap .item_one .img_area{position: relative;padding: 1px;}
.item_list_wrap .item_one .img_area img {width:100%;border:1px solid #ddd;}
.item_list_wrap .item_one .desc{margin-top: 20px;}
.item_list_wrap .item_one .desc .item_tit{color:#0e5ea8;font-size:20px;}
.item_list_wrap .item_one .desc .item_tit span{font-size:12px;}
.item_list_wrap .item_one .desc .item_info{margin:10px 0;font-size:11px;color:#999;}
.item_list_wrap .item_one .desc .pay{margin: 10px 0;font-size:20px;font-weight:bold;color:#333;}

.item_view_wrap{width:100%;}
.item_view_wrap img{width:100%;}


.banner_wrap{width:100%;height: 500px;margin-bottom:20px;}
.banner_wrap .banner_back {position: relative;}
.banner_wrap .banner_back .bgimg{width:100%; filter: blur(6px);  -webkit-filter: blur(6px);   -moz-filter: blur(6px);  -o-filter: blur(6px);position: absolute;top:0;z-index: -1}
.banner_wrap .banner_back img{width:1360px;margin: 0 auto; }

.mo_top{display:none;width:100%;border-bottom: 1px solid #ddd;position: fixed;z-index: 100;background: #fff;height: 50px;text-align:center;}
.mo_top .logo_area{margin:0 auto;height: 50px;display:inline-block;}
.mo_top .left_area{position: absolute;top:0;left:0;padding:5px;}

#wrap{position:relative;margin-bottom:50px;}
#wrap:after{content:"";display:block;clear:both;}

.paging_number{width:100%;text-align:center;margin-bottom:20px;}
.paging_number a{display: inline-block;text-align: center;width:40px;height: 40px;line-height: 40px;border:1px solid #ddd;}
.paging_number a:hover{border:1px solid #aaa;}
.paging_number a.active{background: #333;color:#fff;font-weight:bold;border:1px solid #333;}



/* =================================================
	* main
================================================= */

.main_section_tit{font-size:30px;font-weight:bold;padding:10px 5px;width:100%;text-align:center;}


.main_manu_wrap{width:100%;border-bottom:1px solid #ddd;}
.main_manu_wrap .main_manu{width:100%;max-width: 1400px;padding:0 20px;margin:-6px auto 0;position: relative;height: 500px;}
.main_manu_wrap .main_manu .notice{position:absolute;left:-60px;top:10px;display: inline-block;}
.main_manu_wrap .main_manu .notice a{width:70px;height:70px;display:inline-block;border:1px solid #ddd;border-radius: 10px;text-align:center;padding:8px;}
.main_manu_wrap .main_manu .notice a p{font-size:11px;}
.main_manu_wrap .main_manu .notice .new{position: absolute;top:5px;right:5px;border-radius: 100px;background: #ff600a;color:#fff;font-weight:bold;font-size:11px;padding: 0 5px;}
.main_manu_wrap .menu_wrap {height: 100%;position: relative;}
.main_manu_wrap .menu_wrap .depth01{height: 100%;width:200px;float: left;}
.main_manu_wrap .menu_wrap .depth01 table{height:100%;width:100%;}
.main_manu_wrap .menu_wrap .depth01 table td{padding:0 13px;vertical-align: middle;font-weight:bold;background: #333;color:#fff;font-size:14px;}
.main_manu_wrap .menu_wrap .depth01 table td.active{background: #fafaf9;color:#333;}
.main_manu_wrap .menu_wrap .depth02{width:200px;height: 100%;background: #fafaf9;float: left;}
.main_manu_wrap .menu_wrap .depth02 a{width:100%;display:inline-block;padding:10px 20px;font-size:14px;font-weight:bold;color:#666;}
.main_manu_wrap .menu_wrap .menu_img{width:calc(100% - 400px);height: 100%;margin-left:400px;}

.why_wrap{width:100%;max-width: 1400px;padding:0 20px 20px;margin:0 auto;position: relative;}
.why_wrap .why_tit {width:400px;padding:15px;float:left;font-size:50px;font-weight:bold;color:#333;}
.why_wrap .why_desc {width:calc(100% - 400px);padding:20px 0;margin-left:400px;}
.why_wrap .why_desc img{width:100%;}
.why_wrap .why_desc p{font-size:18px;font-weight:bold;margin-bottom:40px;}
.why_wrap .why_desc p:first-child{color:#999;}
.why_wrap .why_desc p:first-child span{color:#e04f2e;}
.why_wrap .why_desc p:nth-child(2){color:#333;}



/* =================================================
	* sub
================================================= */

.sub_section_tit{font-size:30px;font-weight:bold;padding:10px 5px;}
.sub_section_tit span{font-size:16px;margin-left:20px;}
.cate_wrap a{padding:5px 30px;border-right:1px solid #ddd;}
.cate_wrap a:first-child{padding:5px 30px 5px 5px;}
.cate_wrap a:last-child{border-right:0;}


/* =================================================
    * Footer
================================================= */


/* =================================================
	* Media Query
================================================= */
@media only screen and (max-width:960px) {
	.scroll_top{display:none;}
	.mo_top{display:inline-block;}
	.top_common_area{display:none;}
	.top_menu_wrap{display:none;}
	.btn_top_scroll{bottom:10px;right:10px;}
	.btn_top_scroll img{width:50px;}
	.main_section_tit{font-size:20px;}
	.item_list_wrap{margin:10px 0;}
	.banner_wrap{height: auto;margin-bottom: 0px;}
	.banner_wrap .banner_back img{width:100%;}
	.sns_notice .sns_wrap{padding:0 0 10px 0;max-width:100%;}
	.sns_notice .sns_wrap .img_wrap img{width:80px;}
	.sns_notice .sns_wrap .info p:nth-child(2){font-size: 14px;}
	.sns_notice .sns_wrap .info{margin: 10px 0 20px;}
	.sns_notice .notice_wrap{width:100%;padding:10px 0;}
	.sns_notice .notice_wrap ul>li a {padding: 10px 0;}
	.sns_notice .notice_wrap ul>li a .date{top:10px;}
	.item_list_wrap .item_one{width: calc(100% / 2 - 10px);margin-right: 20px;height:auto;}
	.item_list_wrap .item_one:nth-child(2n){margin-right:0px;}
	.item_list_wrap .item_one .desc p{font-size:12px;}
	.item_list_wrap .item_one .desc .item_tit{font-size:16px;font-weight:bold;}
	.item_list_wrap .item_one .desc .pay{font-size:16px;}
	.item_list_wrap .item_one .desc .item_info{font-size:10px;}
	
	.good_wrap li{width:100%;margin-right:0;}
	
	.good_wrap li .img_area img{width:100%;}
	
	.pick_item_area .item_info {width:100%;}
	.pick_item_area .item_info img{height: 120px;}
	.pick_item_area .item_info .desc{top:30px;left:80px;width:calc(100% - 80px);}
	.pick_item_area .item_info .desc p:first-child{font-size:12px;}
	.pick_item_area .item_info .desc p:nth-child(2){font-size:20px;margin-bottom: 0px;}
	.pick_item_area .item_info .desc a{width:100%;display:inline-block;text-align:center;}
	.pick_item_area .item_list{width:100%;}
	.pick_item_area .item_list ul>li{width:calc(100% / 2 - 5px);margin-left: 0px;margin-right:10px;}
	.pick_item_area .item_list ul>li:nth-child(2n){margin-right:0;}
	.pick_item_area .item_list ul>li img {height: auto;}
	.pick_item_area .item_list ul>li .tit{font-size:11px;}
	.pick_item_area .item_list ul>li .num{height: 50px;}
	.pick_item_area .item_list ul>li .tit{height: 50px;}
	
	.tab_list_wrap{overflow-x: auto;white-space: nowrap;width:100%;}
	.tab_list{width: auto;width:600px;}
	.tab_list ul li{width:auto !important;}
	
	
	.footer_info{display:none;}
	.footer_area .info{padding:10px;}
	.footer_area .sign{float: left;margin-bottom:100px;}
	.footer_area .sign img{height: 50px;}
	.footer_info ul>li{width:100%;;margin:10px 0;}
	.footer_info ul>li:nth-child(2){border-right: 0;border-left:0;}
	.footer_area .info p {font-size:11px;}
	.pc_only{display:none;}
	.mo_br{display:block;}
	#wrap{top:50px;}
	


}
